<div class="container">
    <section data-ng-controller="CalendarController">
        <button data-ng-click="addEvent()">Add Event</button>
        <ul>
            <li data-ng-repeat="event in events">
                <inplace model="event.title" changed="events"></inplace>
                <a class="left" data-ng-click="remove($index)">[x]</a>
            </li>
        </ul>
        <div>
            <h4>{{alertMessage}}</h4>
        </div>
        <!--<div>-->
            <!--<button data-ng-click="changeView('agendaDay',myCalendar)">Day</button>-->
            <!--<button data-ng-click="changeView('agendaWeek',myCalendar)">Week</button>-->
            <!--<button data-ng-click="changeView('month',myCalendar)">Month</button>-->
        <!--</div>-->
        <div dev-calendar="{height:400,editable:true}" ng-model="events" changed="eventChanged"></div>
    </section>
</div>
