<% layout('layouts/main-layout') -%>
<div ng-view ng-cloak>
    <!-- template comes here -->
</div>
<!-- log in page -->
<!--<div data-ng-include="'views/users/signin.html'" ng-if="!isLogged"></div>-->
