<!DOCTYPE html>
<html>
<head>
    <title>Add friend</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel='stylesheet' href='//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css'/>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
</head>
<body>

<div id="error-box"></div>
<input type="hidden" id="userId" value="<%= userId %>">

<% if(status == 'isAdded'){ %>
<button class="btn btn-primary add-friend-btn" id="unfriend">Unfriend</button>
<button class="btn btn-primary add-friend-btn" id="cancel-request" style="display:none">Waiting for confirm</button>
<button class="btn btn-primary add-friend-btn" id="add-friend"><i class="fa fa-plus"></i> Add friend</button>
<% } else if(status == 'isWaiting'){ %>
<button class="btn btn-primary add-friend-btn" id="unfriend">Unfriend</button>
<button class="btn btn-primary add-friend-btn" id="cancel-request">Waiting for confirm</button>
<button class="btn btn-primary add-friend-btn" id="add-friend"><i class="fa fa-plus"></i> Add friend</button>
<% } else{ %>
<button class="btn btn-primary add-friend-btn" id="cancel-request" style="display:none">Waiting for confirm</button>
<button class="btn btn-primary add-friend-btn" id="add-friend"><i class="fa fa-plus"></i> Add friend</button>
<% } %>

<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script src="/javascripts/addFriend.js"></script>
</body>
</html>