<div data-ng-init="findOne()" data-ng-controller="eventController" >
        <div class="topcoat-list__container" >
            <div class="cover">
                <img ng-src="http://42.116.222.193:8080/{{event.cover}}" style="max-height: 15%">
            </div>
            <div class="ThongTinCoBan">
                <p>Creator:  {{event.creator.fullName}}</p>
                <p>Location:  {{event.location}}</p>
            </div>
            <div class="tab">
                <button ng-click="gotoEventPhotos()">Photos</button>
                <button ng-click="gotoEventParticipants()">Participants</button>
                <button ng-click="gotoEventComments()">Comment</button>
                <div ui-view style="border: 1px"></div>
            </div>

        </div>
</div>


