
<div>
<h1>Đờ cờ mờ, làm được đến đây là VIP vcl rồi !</h1>
<h1>{{user}}</h1>
    <button ng-click="view()">DCM</button>
<h5></h5>
</div>

<form action="/groups/create" method="get">
    <input type="submit" value="Create new group">
</form>
<button ng-click="view()">Show Hang</button>

<div class="input-control text">
    <table class="stipped">
        <thead>
        <td>Group</td>
        <td>Something</td>
        <td>This is Sparta !</td>
        </thead>
        <li ng-repeat="group in user">
            {{user}}
        </li>
        <!--<tr>-->
            <!--<td>Aloha</td>-->
            <!--<td>Aloha</td>-->
            <!--<td>Aloha</td>-->
        <!--</tr>-->
    </table>
</div>