

<section data-ng-init="initialize()" data-ng-controller="HomepageController">
<!-- jquery tokeninput -->
<lazy-load src="/lib/jquery-tokeninput/src/jquery.tokeninput.js"></lazy-load>


<div data-ng-include="'views/component/rightPanel.html'" data-ng-controller="RightPanelController"></div>

<!-- Main -->
<div id="main">
    <!-- Home -->
    <section id="top" class="one">
        <!-- To-do list -->
        <div class="tdl-spmenu tdl-spmenu-vertical tdl-spmenu-right" id="tdl-spmenu-s2">
            <div id="btn"></div>
            <div class="to-do-list"><h1>Every day</h1>
                <ul class="to-do-item">

                    <li><input type="checkbox" id="everyday-1" checked/>
                        <label for="everyday-1">Ăn sáng</label></li>

                    <li><input type="checkbox" id="everyday-2"/><label for="everyday-2">Đánh nhau</label></li>
                    <li><input type="checkbox" id="everyday-3" checked/><label for="everyday-3">Chơi gêm</label></li>
                    <li><input type="checkbox" id="everyday-4" checked/><label for="everyday-4">Ăn tối</label></li>
                    <li><input type="checkbox" id="everyday-5"/><label for="everyday-5">Chat đêm</label></li>
                </ul>
            </div>
        </div>
        <!-- List event -->
        <div class="container">
            <div class="sort-post">
                <select>
                    <option>Recently added</option>
                    <option>Time of events</option>
                </select>
            </div>
            <!-- events -->
            <div class="line-of-time" data-ng-repeat="post in posts">
                <div class="box-time">
                    <div class="date">{{post.startTime | dateTimeFilter:'date'}}/{{post.startTime | dateTimeFilter:'month'}}</div>
                    <div class="year">{{post.startTime | dateTimeFilter:'year'}}</div>
                </div>

                <div class="post box">
                    <div class="avatar-post">
                        <span class="image avatar-small">
                            <img src="{{post.creator.avatar}}" alt=""/>
                        </span>
                        <h1>{{post.creator.username}}</h1>
                        <span class="byline">{{post.creator.fullName}}</span>
                        <center>
                            <h2 class="title">
                                <a href="#">{{post.name}}</a>
                            </h2>
                        </center>
                    </div>

                    <div class="frame">
                        <a href="#">
                            <img src="{{post.cover}}" alt=""/>
                        </a>
                    </div>

                    <!-- description -->
                    <div ng-bind-html="post.description | noHTML | newlines"></div>
                    <!-- details -->
                    <div class="details">
                        <span class="icon-event">
                            <a href="#">{{post.startTime | dateTimeFilter:'full'}} - {{post.endTime | dateTimeFilter:'full'}}</a>
                        </span>
                        <span class="likes">
                            <a href="#">{{post.likeNumber | numberFilter}}</a>
                        </span>
                        <span class="comments">
                            <a href="#">{{post.commentNumber | numberFilter}}</a>
                        </span>
                    </div>
                </div>
            </div>
            <!-- comment box -->
            <div class="box-comment" data-ng-show="post">
                <textarea placeholder="Write comment..."></textarea>

                <div class="list-comment">
                    <!-- comment item -->
                    <div class="comment-item" data-ng-repeat="comment in post.comment">
                            <span class="image avatar-micro">
                                <img src="{{comment.avatar}}" alt=""/>
                            </span>
                            <span class="comment-body">
                                <b class="user-name">{{comment.username}}</b>
                                {{comment.content}}
                                <i class="comment-date">{{comment.datetime}}</i>
                            </span>
                    </div>
                </div>
            </div> <!-- end box comment -->
        </div> <!-- end post list -->

    </section>
</div>
</section>

<!-- stylesheet -->
<link rel="stylesheet" href="css/skel-noscript.css"/>
<link rel="stylesheet" href="css/home-style.css"/>
<link rel="stylesheet" href="css/home-style-wide.css"/>
<link rel="stylesheet" href="css/animate-custom.css"/>
<!-- jquery token input -->
<link rel="stylesheet" href="lib/jquery-tokeninput/styles/token-input.css"/>
<link rel="stylesheet" href="lib/jquery-tokeninput/styles/token-input-facebook.css"/>

<lazy-load src="/lib/skel/init.js"></lazy-load>