<div data-ng-init="initialize()" data-ng-controller="HomepageController" id="wrapper">
<!-- Sidebar -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">

    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse" id="button-toggle">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/" style="float: left">my9time</a>
        <!-- Search bar -->
        <div id="search-bar" class="input-group hidden-xs">
            <input type="text" class="form-control" placeholder="{{'SEARCH'|translate}}">
            <div class="input-group-btn">
                <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
            </div>
        </div>

        <div class="new-event hidden-xs">
            <button class="btn-style" data-ng-click="openCreateEventPopup()">
                {{'BUTTON_CREATE_EVENT'|translate}}
            </button>
        </div>
    </div>


    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse" id="sidebar">
        <div id="header">

            <div class="top">
                <!-- noti -->
                <div class="noti" data-ng-init="initNotification()">
                    <!-- EVENT REQUEST -->
                    <a class="event-request-icon" data-ng-click="loadEventRequestNotification()">
                        <div class="count" data-ng-hide="eventRequestUnreadCount == 0">{{eventRequestUnreadCount}}
                        </div>
                    </a>

                    <div class="event-request-item">
                        <h6 data-ng-if="eventRequestNotifications.length == 0" style="padding-left: 30%;">You have no event request</h6>
                        <ul class="root" data-ng-if="eventRequestNotifications.length > 0">
                            <li data-ng-repeat="eventRequest in eventRequestNotifications">
                                <a href="#">
                                    <span class="image avatar-micro">
                                        <img ng-src="{{eventRequest.image}}"/>
                                    </span>
                                    <span class="noti-body" data-ng-if="!eventRequest.isInvitation">
                                        <b class="user-name">{{eventRequest.username}}</b> want to join event <b>{{eventRequest.eventName}}</b>
                                    </span>
                                    <span class="noti-body" data-ng-if="eventRequest.isInvitation">
                                        You have been invited to <b>{{eventRequest.eventName}}</b>
                                    </span>
                                </a>
                                <button class="btn-style cancel-btn" data-ng-click="rejectEventRequest(eventRequest.eventId,eventRequest.userId)">Cancel</button>
                                <button class="btn-style" data-ng-click="confirmEventRequest(eventRequest.eventId,eventRequest.userId)">Confirm</button>
                            </li>
                        </ul>
                    </div>
                    <!-- FRIEND REQUEST -->
                    <a class="friend-request-icon" data-ng-click="loadFriendRequestNotification()">
                        <div class="count" data-ng-hide="friendRequestUnreadCount == 0">{{friendRequestUnreadCount}}
                        </div>
                    </a>

                    <div class="friend-request-item">
                        <h6 data-ng-if="friendRequestNotifications.length == 0" style="padding-left: 30%;">You have no friend request</h6>
                        <ul class="root" data-ng-if="friendRequestNotifications.length > 0">
                            <li data-ng-repeat="friendRequest in friendRequestNotifications">
                                <a href="#">
                                    <span class="image avatar-micro">
                                        <img ng-src="{{friendRequest.image}}"/>
                                    </span>
                                    <span class="noti-body">
                                        <b class="user-name">{{friendRequest.username}}</b> has sent you a friend request.
                                    </span>
                                </a>
                                <button class="btn-style cancel-btn" data-ng-click="rejectFriendRequest(friendRequest.id)">Cancel</button>
                                <button class="btn-style" data-ng-click="confirmFriendRequest(friendRequest.id)">Confirm</button>
                            </li>
                        </ul>
                    </div>
                    <!-- MESSAGE --->
                    <a class="message-icon" data-ng-click="loadMessageNotification()">
                        <div class="count" data-ng-hide="messageUnreadCount == 0">{{messageUnreadCount}}</div>
                    </a>

                    <div class="message-item">
                        <h6 data-ng-if="messageNotifications.length == 0" style="padding-left:30%">You have no message</h6>
                        <ul class="root" data-ng-if="messageNotifications.length > 0">
                            <li data-ng-repeat="message in messageNotifications">
                                <a href="/messages/{{message._id}}">
                                    <span class="image avatar-micro"><img ng-src="{{message.image}}" alt=""></span>
                                        <span class="noti-body">
                                            <b class="user-name">{{message.username}}</b>
                                            {{message.content}}<br/>
                                            <i class="noti-date">{{message.lastUpdatedDate | timeAgoFilter}}</i>
                                        </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- NOTIFICATION -->
                    <a class="noti-icon">
                        <div class="count" data-ng-hide="notificationUnreadCount == 0">{{notificationUnreadCount}}</div>
                    </a>

                    <div class="notification-item">
                        <ul class="root">
                            <li><a href="#"> <span class="image avatar-micro"><img src="images/avatar.jpg"
                                                                                   alt=""/></span> <span
                                    class="noti-body">                     <b class="user-name">thnonl</b>                     Demo notification Demo notification Demo notification Demo notification Demo<br/>                 <i
                                    class="noti-date">10 min ago</i></span> </a></li>
                            <li><a href="#"> <span class="image avatar-micro"><img src="images/avatar.jpg"
                                                                                   alt=""/></span> <span
                                    class="noti-body">                     <b class="user-name">thnonl</b>                     Demo notification Demo notification Demo notification Demo notification Demo<br/>                 <i
                                    class="noti-date">10 min ago</i></span> </a></li>
                            <li><a href="#"> <span class="image avatar-micro"><img src="images/avatar.jpg"
                                                                                   alt=""/></span> <span
                                    class="noti-body">                     <b class="user-name">thnonl</b>                     Demo notification Demo notification Demo notification Demo notification Demo<br/>                 <i
                                    class="noti-date">10 min ago</i></span> </a></li>
                        </ul>
                    </div>
                </div>
                <!-- avatar-header -->
                <div id="avatar-header">
                    <span class="image avatar-large"><img ng-src="{{global.avatar}}" alt=""/></span>

                    <h1 id="user-name">{{global.username}}</h1>
                    <span class="byline">{{global.fullName}}</span>
                </div>

                <!-- Nav -->

                <ul class="nav navbar-nav">
                    <li><a href="/" id="top-link">{{'BUTTON_HOME'|translate}}<i class="fa fa-home"></i></a>
                    </li>
                    <li><a href="/messages">{{'BUTTON_MESSAGE'|translate}}<i
                            class="fa fa-envelope"></i></a></li>
                    <li class="active"><a href="/timeshelf/{{userId}}">{{'BUTTON_MYTIMESHELF'|translate}}<i class="fa fa-user"></i></a>
                    </li>
                    <li><a href="#">{{'BUTTON_CALENDAR' | translate}}<i class="fa fa-th"></i></a>
                    </li>
                </ul>


                <!-- Recent Event -->
                <div id="recent-event"><p style="text-align: left; font-size: 0.8em; margin-left: 40px;">
                    {{'RECENT_EVENT'|translate}}</p>

                    <div class="item">
                        <a href="#"><span>Halloween</span></a>
                        <a href="#"><span>Va lung tung</span></a>
                        <a href="#"><span>Giữa thu</span></a>
                        <a href="#"><span>Giáng xinh</span></a>
                        <a href="#"><span>Xin nhựt</span></a>
                    </div>
                </div>

                <!-- Language -->
                <div class="language-select">
                    <p>{{'LANGUAGE' | translate}}
                        <a href="" ng-click="setLang('en')"><img src="/css/images/language/United-States.png"></a>
                        <a href="" ng-click="setLang('vi')"><img src="/css/images/language/Vietnam.png"></a>
                    </p>
                    <!--<a href="#" ng-click="setLang('en')">{{'BUTTON_ENGLISH' | translate}}</a>-->
                    <!--<a href="#" ng-click="setLang('vi')">{{'BUTTON_VIETNAMESE' | translate}}</a>-->
                </div>
            </div>
        </div>
    </div>
    <!-- /.navbar-collapse -->
</nav>
<!-- nav -->
<div id="page-wrapper">


<!-- Todo list -->

<!--&lt;!&ndash; New to-do modal &ndash;&gt;-->
<!--<div class="modal fade" id="new-todo-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">-->
    <!--<div class="modal-dialog">-->
        <!--<div class="modal-content">-->
            <!--<div class="modal-header">-->
                <!--<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>-->
                <!--<h4 class="modal-title">New todo list</h4>-->
            <!--</div>-->
            <!--<div class="modal-body">-->
                <!--<input>-->
            <!--</div>-->
            <!--<div class="modal-footer">-->
                <!--<button type="button" class="btn-style" data-dismiss="modal">Close</button>-->
                <!--<button type="button" class="btn-style">Save changes</button>-->
            <!--</div>-->
        <!--</div>&lt;!&ndash; /.modal-content &ndash;&gt;-->
    <!--</div>&lt;!&ndash; /.modal-dialog &ndash;&gt;-->
<!--</div>&lt;!&ndash; /.modal &ndash;&gt;-->

<div class="tdl-spmenu tdl-spmenu-vertical tdl-spmenu-right" id="tdl-spmenu-s2">
    <div id="btn" data-ng-click="openTodo()"></div>
    <button class="btn-style" style="display: none"><i class="fa fa-plus fa-fw"></i>New</button>
    <div class="to-do-body">
        <style>
            .done-true {
                text-decoration: line-through;
            }
        </style>
        <div ng-controller="todolistController" data-ng-init="viewProfile()" class="to-do-list">
            <button class="btn-style" ng-click="archive()"><i class="fa fa-eraser" ></i></button>
            <h1 style="margin-bottom:10px">Remaining {{remaining()}}/{{todos.length}}</h1>

            <form ng-submit="addTodo()" style="padding: 10px" >
                <button class="btn-style" type="submit"
                        tooltip="Add"><i class="fa fa-plus"></i></button>
                    <input type="text" ng-model="content" class="form-control" style="width: 75%;"
                             placeholder="Add new todo..." required maxlength="100">
            </form>

            <ul class="to-do-item">
                <li ng-repeat="todo in todos">
                    <button class="btn-style" ng-click="removeTodo(todo)"><i class="fa fa-minus-square" ></i></button>
                    <input type="checkbox" ng-model="todo.status" data-ng-click="changeStatusTodo(todo)">
                    <span class="done-{{todo.status}}">{{todo.content}}</span>
                </li>
            </ul>

        </div>
        <div>

        </div>
    </div>
</div>

<!-- post -->
<div class="row">
    <!-- timeline -->
    <div class="col-lg-12">
        <div id="timeshelf-profile" data-ng-init="initTimeshelfProfile()">
            <div id="timeshelf-ava">
                <span class="image avatar-large"><img ng-src="{{ownerMin.avatar}}" alt=""/></span>
                <h1>{{ownerMin.username}}</h1>
                <span class="byline">{{ownerMin.fullName}}</span>
                <p><i>Started from {{ownerMin.createDate | dateTimeFilter:'full'}}</i></p>
            </div>
            <div id="timeshelf-link">
                <ul>
                    <!--<li><a href=""><i class="fa fa-plus-circle fa-fw"></i>Add friend!</a></li>-->
                    <li><mi-add-friend></mi-add-friend></li>
                    <li><a href="/profile"><i class="fa fa-info fa-fw"></i>View {{ownerMin.username}}'s profile</a></li>
                    <li><a href=""><i class="fa fa-user fa-fw"></i>There're {{ownerMin.friendCount}} friends</a></li>
                    <!--<li><a href=""><i class="fa fa-check fa-fw"></i>Joined {{ownerMin.eventCount}} events</a></li>-->
                    <!--<li><a href="#" data-toggle="modal" data-target="#new-message-modal" data-ng-click="openMessagePopup()"><i class="fa fa-envelope fa-fw"></i>Send {{ownerMin.username}} messages</a></li>-->
                    <li><a href="#" data-ng-click="openMessagePopup()"><i class="fa fa-envelope fa-fw"></i>Send {{ownerMin.username}} messages</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- filter -->
    <div class="col-lg-12">
        <div class="sort-post">
            <select>
                <option>{{'RECENT_ADD'|translate}}</option>
                <option>{{'TIME_HAPPEN'|translate}}</option>
            </select>
        </div>
    </div>

    <div class="col-lg-12" infinite-scroll="loadMore()" infinite-scroll-disabled="scrollIsBusy" infinite-scroll-distance="1">
        <!-- loader -->
        <div class="col-lg-12" data-ng-show="scrollIsBusy">
            <h2><i class="fa fa-spin fa-spinner"></i></h2>
        </div>
        <!-- Event -->
        <div class="line-of-time" data-ng-repeat="post in posts">
            <div class="box-time {{post.privacy}}">
                <div class="date">{{post.startTime | dateTimeFilter:'date'}}/{{post.startTime |
                    dateTimeFilter:'month'}}
                </div>
                <div class="year">{{post.startTime | dateTimeFilter:'year'}}</div>
            </div>
            <div class="post">
                <div class="box ">
                    <div class="avatar-post">
                        <span class="image avatar-small"><img ng-src="{{post.creator.avatar}}" alt=""/></span>

                        <b>{{post.creator.username}}</b>
                        <span class="byline">{{post.creator.fullName}}</span>
                        <center><h2 class="title"><a href="#">{{post.name}}</a></h2></center>
                    </div>

                    <div class="frame">
                        <a href="post.html">
                            <img ng-src="{{post.cover}}" alt=""/>
                        </a>
                    </div>

                    <b>{{'DESCRIPTION'| translate}}: </b>
                    <i data-ng-if="post.description == ''">{{'DESCRIPTION_NULL' | translate}}</i>
                    <i data-ng-if="!post.description">{{'DESCRIPTION_NULL' | translate}}</i>
                    <i data-ng-if="post.description != ''" data-ng-bind-html="post.description | noHTML | newlines"></i>
                    </br>
                    <b>{{'EVENT_PRIVACY'| translate}}: </b>
                    <i data-ng-if="post.privacy == 'p'">{{'PRIVACY' | translate}}</i>
                    <i data-ng-if="post.privacy == 'g'">{{'GROUP' | translate}}</i>
                    <i data-ng-if="post.privacy == 'c'">{{'CLOSE_COMMUNITY' | translate}}</i>
                    <i data-ng-if="post.privacy == 'o'">{{'OPEN_COMMUNITY' |translate}}</i>
                    <!-- Participants -->
                    <div data-ng-if="post.user.length > 0">
                        <a href="#" data-ng-click="seeAllParticipants()"> <b>Participants: (see all {{post.user.length}}
                            people) </b></a>

                        <div class="event-participants-post">
                            <a href="" data-ng-repeat="user in post.user">
                                <img ng-src="{{user.avatar}}">
                            </a>
                        </div>
                    </div>

                    <div class="details">


                        <a class="icon-event" href="#"><i class="fa fa-clock-o fa-fw"></i>{{post.startTime | dateTimeFilter:'full'}} - {{post.endTime
                            | dateTimeFilter:'full'}}</a>

                        <!-- Like -->
                        <mi-like event="{{post._id}}"></mi-like>


                        <!--Comment -->
                        <a class="comments" href="#" data-ng-click="showCommentList()">{{post.commentNumber |
                            numberFilter}}</a>
                        <a class="comments"><i class="fa fa-comment-o"></i></a>


                        <!-- Share -->
                        <mi-share event="{{post._id}}"></mi-share>


                        <!-- Request join n invite more -->
                        <a class="request-join" data-ng-if="post.right == 'join'"><i class="fa fa-users fa-fw"></i><mi-join-event privacy="{{post.privacy}}" event="{{post._id}}"></mi-join-event></a>
                        <a class="request-join" data-ng-if="post.right == 'invite'"><i class="fa fa-users fa-fw"></i><mi-invite-more event="{{post._id}}"></mi-invite-more></a>
                        <!--<span class="request-join" data-ng-if="post.right == 'join'"><mi-join-event privacy="{{post.privacy}}" event="{{post._id}}"></mi-join-event></span>-->
                        <!--<span class="request-join" data-ng-if="post.right == 'invite'"><mi-invite-more event="{{post._id}}"></mi-invite-more></span>-->
                    </div>
                </div>
                <div class="box-comment hidden-xs hidden-sm" data-if="post">
                    <textarea placeholder="{{'WRITE_COMMENT'|translate}}..."></textarea>

                    <div class="list-comment">
                        <!-- Comment item -->
                        <div class="comment-item" data-ng-repeat="comment in post.comment">
                                    <span class="image avatar-micro">
                                        <img src="{{comment.avatar}}" alt=""/>
                                    </span>
                                    <span class="comment-body">
                                        <b class="user-name">{{comment.username}}</b>
                                        {{comment.content}}
                                        <i class="comment-date">{{comment.datetime | dateTimeFilter:'timepast'}}</i>
                                    </span>
                        </div>
                        <!-- end comment-->
                    </div>
                    <!-- end list comment -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.row -->
</div>
</div>
