<% layout('layouts/main-layout') -%>
<section ng-view ng-cloak data-ng-if="isLoaded">
    <!-- template comes here -->
</section>
<div class="col-lg-12 center-block" data-ng-hide="isLoaded">
    <center><b><i class="fa fa-spin fa-spinner"></i> Loading...</b></center>
</div>
<toaster-container></toaster-container>
