<a href="" name="{{button.name}}" data-ng-click="communicate()" data-ng-show="!isLoading"><i class="fa" ng-class="{{button.class}}">{{button.label}}</a>
<a href="" id="loading" data-ng-show="isLoading" onclick="return false;"><i class="fa fa-refresh fa-spin"></i> loading...</a>
<!--<button class="btn-style" name="{{button.name}}" ng-click="communicate()" ng-show="!isLoading">{{button.label}}</button>-->
<!--<button class="btn-style" id="loading" ng-show="isLoading" disabled><i class="fa fa-refresh fa-spin"></i> loading... </button>-->
