<div class="modal fade in" id="view-creator-note" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="false" style="display:none;" data-ng-controller="viewEventController">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">{{'EVENT_NOTE' | translate}}</h4>
            </div>
            <div class="modal-body">
                <form>
                    <table>
                        <tr>
                            <td>{{'NOTE_TITLE'|translate}} :</td>
                            <td>
                                <input type="text" value="{{event.creator.note.title}}" disabled>
                            </td>
                        </tr>
                        <tr>
                            <td>{{'NOTE_CONTENT'|translate}} :</td>
                            <td><textarea value="{{event.creator.note.content}}" style="height: 250px; width: 470px; resize: none" readonly></textarea></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                <button type="button" class="btn-style" data-dismiss="modal">
                                    {{'BUTTON_CANCEL'|translate}}
                                </button>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
            <div class="modal-footer">
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
</div>