<div class="modal fade in" id="write-note-user" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="false" style="display:none;" data-ng-controller="viewEventController">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">{{'WRITE_NOTE'|translate}}</h4>
            </div>
            <div class="modal-body">
                <form mi-submit="createNoteUser(noteTitleUser,noteContentUser)" novalidate name="createForm">
                    <table>
                        <tr>
                            <td>{{'NOTE_TITLE'|translate}} :</td>
                            <td>
                                <input type="text" name="title" data-ng-model="noteTitleUser" required>
                                    <span class="help-block" ng-show="createForm.title | eventFilter:createForm:'required'">
                                {{'ERROR_LOCATION_NULL' | translate}}
                                </span>
                                {{noteTitleUser}}
                            </td>
                        </tr>
                        <tr>
                            <td>{{'NOTE_CONTENT'|translate}} :</td>
                            <td>
                                <textarea name="content" data-ng-model="noteContentUser"
                                          style="height: 250px; width: 470px; resize: none" required></textarea>
                                    <span class="help-block" ng-show="createForm.content | eventFilter:createForm:'required'">
                                {{'ERROR_LOCATION_NULL' | translate}}
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                <button type="button" class="btn-style ng-binding" data-dismiss="modal">
                                    {{'BUTTON_CANCEL'|translate}}
                                </button>
                                <input type="submit" class="btn-style" value="{{'BUTTON_SAVE' | translate}}"/>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
            <div class="modal-footer">
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
</div>