<div class="modal fade in" id="write-note-creator" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="false" style="display:none;" data-ng-controller="viewEventController">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">{{'WRITE_NOTE'|translate}}</h4>
            </div>
            <div class="modal-body">
                <form mi-submit="createNoteCreator(noteTitleCreator,noteContentCreator)" novalidate name="createForm">
                    <table>
                        <tr>
                            <td>{{'NOTE_TITLE'|translate}} :</td>
                            <td>
                                <input type="text" data-ng-model="noteTitleCreator" name="title" required>
                                    <span class="help-block" ng-show="createForm.title | eventFilter:createForm:'required'">
                                        {{'ERROR_NULL_TITLE' | translate}}
                                    </span>
                            </td>
                        </tr>
                        <tr>
                            <td>{{'NOTE_CONTENT'|translate}} :</td>
                            <td>
                                <textarea data-ng-model="noteContentCreator" name="content"
                                          style="height: 250px; width: 470px; resize: none" required=""></textarea>
                                    <span class="help-block" ng-show="createForm.content | eventFilter:createForm:'required'">
                                        {{'ERROR_NULL_CONTENT' | translate}}
                                    </span>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                <button type="button" class="btn-style ng-binding" data-dismiss="modal">
                                    {{'BUTTON_CANCEL'|translate}}
                                </button>
                                <input type="submit" class="btn-style ng-binding" value="{{'BUTTON_SAVE' | translate}}"/>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
            <div class="modal-footer">
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>