
<!--<div data-role="page" data-ng-controller="homeController">-->
<div data-ng-controller="homeController" data-ng-init="initHomepage()">
    <div data-ng-repeat="post in events" data-ng-click="goToEvent(post._id)" style="border: 1em">
        <h3><img src="http://42.116.222.193:8080/{{post.cover}}" style="max-height: 50px"> {{post.name}}</h3>
    </div>
    <!-- Main View -->
    <!--<div ui-view ="posts" class="container" data-role="content" ui-sref="homepage">-->
    <!--</div>-->

</div>

