<div class="eventDetailPage" ng-swipe-left="slidePage('/todolist')" data-ng-controller="homeController">
    <div class="topcoat-navigation-bar">
        <div class="topcoat-navigation-bar__item center three-quarters">
            <h1 class="topcoat-navigation-bar__title">Homepage</h1>
        </div>
    </div>

    <div class="topcoat-list__container" data-ng-init="loadMore()">
        <div data-ng-repeat="post in posts">
            <ul class="topcoat-list">
                <li class="topcoat-list__item" data-ng-click="goToEvent('/event/view/' + post._id)">
                    <div class="post">
                        {{post.creator.fullName}}
                        <img ng-src="{{post.cover}}">
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <!--<ng-include src="'views/components/settingsOverlay.html'"></ng-include>-->
</div>
