<link href="../css/style.css" rel="stylesheet">
<link href="../css/tab.css" rel="stylesheet">
<div data-ng-init="initialize()" data-ng-controller="HomepageController" id="wrapper">
    <!-- Sidebar -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse" id="button-toggle">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/" style="float: left">my9time</a>
            <!-- Search bar -->
            <div id="search-bar" class="input-group hidden-xs">
                <input type="text" class="form-control" placeholder="{{'SEARCH'|translate}}">
                <div class="input-group-btn">
                    <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
                </div>
            </div>

            <div class="new-event hidden-xs" data-ng-controller="HomepageController">
                <button class="btn-style" data-ng-click="openCreateEventPopup()">
                    {{'BUTTON_CREATE_EVENT'|translate}}
                </button>
            </div>
        </div>


        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse" id="sidebar">
            <div id="header">

                <div class="top">
                    <!-- noti -->
                    <div class="noti" data-ng-init="initNotification()">
                        <!-- EVENT REQUEST -->
                        <a class="event-request-icon" data-ng-click="loadEventRequestNotification()">
                            <div class="count" data-ng-hide="eventRequestUnreadCount == 0">{{eventRequestUnreadCount}}
                            </div>
                        </a>

                        <div class="event-request-item">
                            <h6 data-ng-if="eventRequestNotifications.length == 0" style="padding-left: 30%;">You have no event request</h6>
                            <ul class="root" data-ng-if="eventRequestNotifications.length > 0">
                                <li data-ng-repeat="eventRequest in eventRequestNotifications">
                                    <a href="#">
                                    <span class="image avatar-micro">
                                        <img ng-src="{{eventRequest.image}}"/>
                                    </span>
                                    <span class="noti-body" data-ng-if="!eventRequest.isInvitation">
                                        <b class="user-name">{{eventRequest.username}}</b> want to join event <b>{{eventRequest.eventName}}</b>
                                    </span>
                                    <span class="noti-body" data-ng-if="eventRequest.isInvitation">
                                        You have been invited to <b>{{eventRequest.eventName}}</b>
                                    </span>
                                    </a>
                                    <button class="btn-style cancel-btn" data-ng-click="rejectEventRequest(eventRequest.eventId,eventRequest.userId)">Cancel</button>
                                    <button class="btn-style" data-ng-click="confirmEventRequest(eventRequest.eventId,eventRequest.userId)">Confirm</button>
                                </li>
                            </ul>
                        </div>
                        <!-- FRIEND REQUEST -->
                        <a class="friend-request-icon" data-ng-click="loadFriendRequestNotification()">
                            <div class="count" data-ng-hide="friendRequestUnreadCount == 0">{{friendRequestUnreadCount}}
                            </div>
                        </a>

                        <div class="friend-request-item">
                            <h6 data-ng-if="friendRequestNotifications.length == 0" style="padding-left: 30%;">You have no friend request</h6>
                            <ul class="root" data-ng-if="friendRequestNotifications.length > 0">
                                <li data-ng-repeat="friendRequest in friendRequestNotifications">
                                    <a href="#">
                                    <span class="image avatar-micro">
                                        <img ng-src="{{friendRequest.image}}"/>
                                    </span>
                                    <span class="noti-body">
                                        <b class="user-name">{{friendRequest.username}}</b> has sent you a friend request.
                                    </span>
                                    </a>
                                    <button class="btn-style cancel-btn" data-ng-click="rejectFriendRequest(friendRequest.id)">Cancel</button>
                                    <button class="btn-style" data-ng-click="confirmFriendRequest(friendRequest.id)">Confirm</button>
                                </li>
                            </ul>
                        </div>
                        <!-- MESSAGE --->
                        <a class="message-icon" data-ng-click="loadMessageNotification()">
                            <div class="count" data-ng-hide="messageUnreadCount == 0">{{messageUnreadCount}}</div>
                        </a>

                        <div class="message-item">
                            <h6 data-ng-if="messageNotifications.length == 0" style="padding-left:30%">You have no message</h6>
                            <ul class="root" data-ng-if="messageNotifications.length > 0">
                                <li data-ng-repeat="message in messageNotifications">
                                    <a href="/messages/{{message._id}}">
                                        <span class="image avatar-micro"><img ng-src="{{message.image}}" alt=""></span>
                                        <span class="noti-body">
                                            <b class="user-name">{{message.username}}</b>
                                            {{message.content}}<br/>
                                            <i class="noti-date">{{message.lastUpdatedDate | timeAgoFilter}}</i>
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!-- NOTIFICATION -->
                        <a class="noti-icon">
                            <div class="count" data-ng-hide="notificationUnreadCount == 0">{{notificationUnreadCount}}</div>
                        </a>

                        <div class="notification-item">
                            <ul class="root">
                                <li><a href="#"> <span class="image avatar-micro"><img src="images/avatar.jpg"
                                                                                       alt=""/></span> <span
                                        class="noti-body">                     <b class="user-name">thnonl</b>                     Demo notification Demo notification Demo notification Demo notification Demo<br/>                 <i
                                        class="noti-date">10 min ago</i></span> </a></li>
                                <li><a href="#"> <span class="image avatar-micro"><img src="images/avatar.jpg"
                                                                                       alt=""/></span> <span
                                        class="noti-body">                     <b class="user-name">thnonl</b>                     Demo notification Demo notification Demo notification Demo notification Demo<br/>                 <i
                                        class="noti-date">10 min ago</i></span> </a></li>
                                <li><a href="#"> <span class="image avatar-micro"><img src="images/avatar.jpg"
                                                                                       alt=""/></span> <span
                                        class="noti-body">                     <b class="user-name">thnonl</b>                     Demo notification Demo notification Demo notification Demo notification Demo<br/>                 <i
                                        class="noti-date">10 min ago</i></span> </a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- avatar-header -->
                    <div id="avatar-header">
                        <span class="image avatar-large"><img ng-src="{{global.avatar}}" alt=""/></span>

                        <h1 id="user-name">{{global.username}}</h1>
                        <span class="byline">{{global.fullName}}</span>
                        <a id="log-out" href="#" ng-click="logout()"><i class="fa fa-power-off fa-fw"></i>{{'BUTTON_LOGOUT'|translate}}</a>
                    </div>



                    <!-- Nav -->

                    <ul class="nav navbar-nav">
                        <li><a href="/" id="top-link">{{'BUTTON_HOME'|translate}}<i class="fa fa-home"></i></a>
                        </li>
                        <li><a href="/messages">{{'BUTTON_MESSAGE'|translate}}<i
                                class="fa fa-envelope"></i></a></li>
                        <li><a href="/timeshelf/{{userId}}">{{'BUTTON_MYTIMESHELF'|translate}}<i class="fa fa-user"></i></a>
                        </li>
                        <li><a href="/calendar">{{'BUTTON_CALENDAR' | translate}}<i class="fa fa-th"></i></a>
                        </li>
                    </ul>


                    <!-- Recent Event -->
                    <div id="recent-event" data-ng-controller="HomepageController" data-ng-init="getRecentEvent()"><p style="text-align: left; font-size: 0.9em; margin-left: 40px;">
                        {{'RECENT_EVENT'|translate}}</p>

                        <div class="item">
                            <a href="/event/view/{{post._id}}" data-ng-repeat="post in recentEvent"><span>{{post.name}}</span></a>
                        </div>
                    </div>
                    <!-- Language -->
                    <div class="language-select">
                        <p>{{'LANGUAGE' | translate}}
                            <a href="" ng-click="setLang('en')"><img src="/css/images/language/United-States.png"></a>
                            <a href="" ng-click="setLang('vi')"><img src="/css/images/language/Vietnam.png"></a>
                        </p>
                        <!--<a href="#" ng-click="setLang('en')">{{'BUTTON_ENGLISH' | translate}}</a>-->
                        <!--<a href="#" ng-click="setLang('vi')">{{'BUTTON_VIETNAMESE' | translate}}</a>-->
                    </div>
                </div>
            </div>
        </div>
        <!-- /.navbar-collapse -->
    </nav>
    <!-- nav -->
    <div id="page-wrapper">

    <!-- To-do list -->


    <div class="tdl-spmenu tdl-spmenu-vertical tdl-spmenu-right" id="tdl-spmenu-s2" >
        <div id="btn" data-ng-click="openTodo()"></div>
        <button class="btn-style" data-toggle="modal" data-target="#new-todo-modal" style="display: none"><i class="fa fa-plus fa-fw"></i>New</button>
        <div class="to-do-body">
            <style>
                .done-true {
                    text-decoration: line-through;
                }
            </style>
            <div ng-controller="todolistController" data-ng-init="getTodo()" class="to-do-list">
                <button class="btn-style" ng-click="archive()"><i class="fa fa-eraser" ></i></button>
                <h1 style="margin-bottom:10px">Remaining {{remaining()}}/{{todos.length}}</h1>

                <form ng-submit="addTodo()" style="padding: 10px" >
                    <button class="btn-style" type="submit"
                            tooltip="Add"><i class="fa fa-plus"></i></button>
                    <input type="text" ng-model="content" class="form-control" style="width: 75%;"
                           placeholder="Add new todo..." required maxlength="100">
                </form>

                <ul class="to-do-item">
                    <li ng-repeat="todo in todos">
                        <button class="btn-style"><i class="fa fa-minus-square" ng-click="removeTodo(todo)"></i></button>
                        <input type="checkbox" ng-model="todo.status" data-ng-click="changeStatusTodo(todo)">
                        <span class="done-{{todo.status}}">{{todo.content}}</span>
                    </li>
                </ul>

            </div>
            <div>

            </div>
        </div>
    </div>




        <div class="row" data-ng-controller="userController" data-ng-init="viewProfile()">
        <div class="col-lg-12">


        <!-- Timeshelf Avatar - TrungNM -->
        <div id="timeshelf-profile" data-ng-init="initTimeshelfProfile()">
            <div id="timeshelf-ava" data-ng-init="viewProfile()">
                <span class="image avatar-large" ng-click="uploadAvatar()"><a href="#" ><img ng-src="{{user.avatar}}" alt=""/></a></span>
                <input ng-file-select type="file" id="upload-avatar" style="display: none">
                <button id="avatar-button" type="button" ng-click="uploader.uploadAll()" style="display: none"></button>

                <h1>{{user.local.username}}</h1>
                <span class="byline">{{user.firstName}} {{user.lastName}}</span>

                <p><i>{{ 'JOIN_DATE' | translate}} {{user.createDate | dateTimeFilter:'full'}}</i></p>
            </div>

            <div id="timeshelf-link">
                <!--<ul>-->
                    <!--&lt;!&ndash;<li><a href=""><i class="fa fa-plus-circle fa-fw"></i>Add friend!</a></li>&ndash;&gt;-->
                    <!--<li><mi-add-friend></mi-add-friend></li>-->
                    <!--<li><a href="/profile"><i class="fa fa-info fa-fw"></i>View {{ownerMin.username}}'s profile</a></li>-->
                    <!--<li><a href=""><i class="fa fa-user fa-fw"></i>There're {{ownerMin.friendCount}} friends</a></li>-->
                    <!--&lt;!&ndash;<li><a href=""><i class="fa fa-check fa-fw"></i>Joined {{ownerMin.eventCount}} events</a></li>&ndash;&gt;-->
                    <!--&lt;!&ndash;<li><a href="#" data-toggle="modal" data-target="#new-message-modal" data-ng-click="openMessagePopup()"><i class="fa fa-envelope fa-fw"></i>Send {{ownerMin.username}} messages</a></li>&ndash;&gt;-->
                    <!--<li><a href="#" data-ng-click="openMessagePopup()"><i class="fa fa-envelope fa-fw"></i>Send {{ownerMin.username}} messages</a></li>-->
                <!--</ul>-->
            </div>
        </div>


        <ul class="nav nav-tabs" id="profile-tab">
            <li id="tab-profile-info" class="active"><a href="#profile-info" data-toggle="tab">{{ 'INFOMATION' | translate}}</a></li>
            <li id="tab-profile-friend"><a href="#profile-friend" data-toggle="tab">{{ 'FRIENDS' | translate}}</a></li>
            <li id="tab-profile-event"><a href="#profile-event" data-toggle="tab">{{ 'HIGHLIGHT' | translate}}</a></li>
        </ul>

        <div class="tab-content">

        <div class="tab-pane active" id="profile-info">
            <!--anh bug-->
            <button data-ng-if="isCreator" class="btn-style top-right-btn" data-ng-click="openEditProfilePopup()">
                {{ 'BUTTON_EDIT' | translate}}
            </button>

            <table class="info">
                <tr>
                    <td>
                        <div>
                            <h1>{{ 'BASIC_INFOMATION' | translate}}</h1>
                            <p><b>{{ 'FIRST_NAME' | translate}}:</b> {{user.firstName}}</p>
                            <p><b>{{ 'LAST_NAME' | translate}}:</b> {{user.lastName}}</p>

                            <p><b>{{ 'EMAIL' | translate}}:</b><span data-ng-if="!isCreator">{{hideEmail}}</span><span data-ng-if="isCreator">{{user.email}}</span> </p>

                            <p data-ng-if="user.showBirthday == 'y'"><b>{{ 'BIRTHDAY' | translate}}:</b> {{user.birthday}}</p>

                            <p><b>{{ 'GENDER' | translate}}:</b><span data-ng-if="user.gender = 'male'"> Male </span></p>

                            <p><b>{{ 'LOCATION' | translate}}: </b><span data-ng-if="!user.location">  N/A</span><span data-ng-if="user.location">{{user.location}}</span></p>

                            <p><b>{{ 'LANGUAGE' | translate}}:</b><span data-ng-if="user.language == 'vi'"> Vietnamese</span><span data-ng-if="user.language == 'en'"> English</span></p>
                        </div>
                    <td>
                        <div>
                            <h1>{{ 'ABOUT' | translate}}</h1>
                            <p data-ng-if="!user.aboutMe" > N/A </p>
                            <p data-ng-if="user.aboutMe != ''">{{user.aboutMe}}</p>
                        </div>
                        <div>
                            <h1>{{ 'WORK' | translate}}</h1>

                            <p><b>{{'OCCUPATION'|translate}}:</b><span data-ng-if="!user.occupation">N/A</span><span data-ng-if="user.occupation">{{user.occupation}}</span></p>

                            <p><b>{{'WORKPLACE'|translate}}:</b><span data-ng-if="!user.workplace">N/A</span><span data-ng-if="user.workplace">{{user.workplace}}</span></p>

                            <p><b>{{'STUDY_PLACE'|translate}}:</b><span data-ng-if="!user.studyPlace">N/A</span><span data-ng-if="user.studyPlace">{{user.studyPlace}}</span></p>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div class="tab-pane" id="profile-friend">

            <div class="friend" data-ng-repeat="friend in friendList">
                <span class="image avatar-large"><a href="/timeshelf/{{friend.userID}}"><img src="{{friend.avatar}}" alt=""/></a></span>

                <a href="/timeshelf/{{friend.userID}}"><h1>{{friend.username}}</h1></a>
                <span class="byline">{{friend.fullName}}</span>

            </div>


        </div>

        <div class="tab-pane" id="profile-event">

            <!--<div class="event-list" data-ng-repeat="post in highlightList" >-->
               <!--<span class="image event-cover"><a href="/event/view/{{post._id}}"></a><img src="post.cover" alt=""/></a></span>-->

                <!--<h1>{{post.name}}</h1>-->

                <!--<p><b>{{'START_TIME'|translate}}:</b>{{post.startTime | dateTimeFilter:'full'}}</p>-->

                <!--<p><b>{{'LOCATION'|translate}}</b> {{post.location}}</p>-->
            <!--</div>-->
            <div class="event-list">
                                                <span class="image event-cover"><img src="img/pic01.jpg"
                                                                                     alt=""/></span>

                <h1>Example Event</h1>

                <p><b>Role:</b> Holder</p>

                <p><b>Participated at:</b> 1/1/2000</p>
            </div>
        </div>
        </div>
        </div>
        </div>


    </div>


</div>
