<div data-ng-init="viewProfile()">
    <div>
        <h1>User Profile</h1>
    </div>
    <p><span class="text-info">Username </span> {{user.local.username}} </p>
    <p><span class="text-info">Email </span> {{user.email}}</p>
    <p><span class="text-info">Fullname </span> {{user.fullName}}</p>
    <p><span class="text-info">Birthday </span> {{user.birthday}}</p>
    <p><span class="text-info">Gender </span> {{user.gender}}</p>

    <!--<button ng-click="viewProfile()">Show Hang</button>-->
</div>