<link href="/css/login.css" rel="stylesheet"/>
<link href="/css/login-style.css" rel="stylesheet"/>
<link href="/css/animate-login.css" rel="stylesheet"/>
<link href="/css/animate-custom.css" rel="stylesheet"/>


<div class="container">
    <!-- Codrops top bar -->
    <header>
        <h1>Open your timeshelf with <span>my9time</span> now!</h1>
    </header>
    <section>
        <div class="col-xs-12">
            <!-- oauth -->
            <!-- google -->
            <a href="/auth/google" id="oauthGoogle">
                <img height="40" width="170" src="img/oauth/google.png" style="margin-bottom:20px;"/>
            </a>
            <!-- facebook -->
            <a href="/auth/facebook" id="oauthFacebook">
                <img height="40" width="170" src="img/oauth/facebook.png" style="margin-bottom:20px;"/>
            </a>
        </div>
        <div id="container_login">
            <a class="hiddenanchor" id="toregister"></a>
            <a class="hiddenanchor" id="tologin"></a>

            <div id="wrapper">
                <div id="login" class="animate form auth-form-animation" data-ng-hide="!isLogin">
                    <form name="loginForm" novalidate mi-submit="login()" data-ng-controller="SignInController">
                        <h1>Log in</h1>
                        <div class="alert alert-danger" ng-show="isLoginError">
                            <span ng-bind="loginError"></span>
                        </div>
                        <!-- username -->
                        <p>
                            <label for="username" class="uname" data-icon="u">
                                 Your email or username
                            </label>
                            <input type="text" name="username" id="username" placeholder="myusername or mymail@mail.com"
                                   ng-model="session.username" required mi-check-username/>
                            <span class="help-block" ng-show="loginForm.username | shouldDisplayError:loginForm:'required'">
                                Please input your username
                            </span>
                        </p>
                        <!-- password -->
                        <p>
                            <label for="password" class="youpasswd" data-icon="p"> Your password </label>
                            <input id="password" name="password" required type="password"
                                   placeholder="eg. 345JB5KJ2" data-ng-model="session.password"/>
                            <span class="help-block" ng-show="loginForm.password | shouldDisplayError:loginForm:'required'">
                    Please input your password
                            </span>
                        </p>
                        <!-- remember me -->
                        <p class="keeplogin">
                            <input type="checkbox" name="loginkeeping" id="loginkeeping" value="loginkeeping"/>
                            <label for="loginkeeping">Keep me logged in</label>
                        </p>
                        <!-- login button -->
                        <p class="login button">
                            <input type="submit" value="Login"/>
                        </p>
                        <!-- toggle to register -->
                        <p class="change_link">
                            Not a member yet ?
                            <a href="" data-ng-click="jumpToRegister()" class="to_register">Register</a>
                        </p>

                        <button type="submit" class="btn btn-primary" value="Login" title="Login">Login</button>
                    </form>
                </div>
                <!-- register form -->
                <div id="register" class="animate form auth-form-animation" data-ng-hide="isLogin">
                    <form name="registerForm" novalidate mi-submit="submit()" data-ng-controller="SignUpController">
                        <h1> Create timeshelf </h1>
                        <!-- first name -->
                        <p>
                            <label for="firstName" class="uname" data-icon="u">First name</label>
                            <span ng-show="!registerForm.firstName.$invalid && registerForm.firstName.$dirty">
                    <i class="fa fa-check-circle-o" style="color:#4cae4c"></i></span>
                            <input id="firstName" name="firstName" required type="text"
                                   placeholder="first name" data-ng-model="newUser.firstName"/>
                        </p>
                        <!-- last name -->
                        <p>
                            <label for="lastName" class="uname" data-icon="u">Last name</label>
                            <span ng-show="!registerForm.lastName.$invalid && registerForm.lastName.$dirty">
                    <i class="fa fa-check-circle-o" style="color:#4cae4c"></i></span>
                            <input id="lastName" name="lastName" required type="text"
                                   placeholder="last name" data-ng-model="newUser.lastName"/>
                        </p>
                        <!-- username -->
                        <p>
                            <label for="usernamesignup" class="uname" data-icon="u">Username</label>
                            <span ng-show="!registerForm.usernamesignup.$invalid && registerForm.usernamesignup.$dirty">
                    <i class="fa fa-check-circle-o" style="color:#4cae4c"></i></span>
                            <input id="usernamesignup" name="usernamesignup" required type="text"
                                   placeholder="username1992" ng-minlength="6" data-ng-model="newUser.username"
                                    ng-pattern="/^[a-zA-Z_0-9]*$/" mi-check-unique/>
                            <span class="help-block" ng-show="registerForm.usernamesignup | shouldDisplayError:registerForm:'min'">
            Your username must have more than 6 characters
        </span>
        <span class="help-block" ng-show="registerForm.usernamesignup | shouldDisplayError:registerForm:'unique'">
            Someone has used this username, please try another
        </span>
        <span class="help-block" ng-show="registerForm.usernamesignup | shouldDisplayError:registerForm:'pattern'">
            Username can not contain special characters excepts '_'
        </span>
                        </p>
                        <!-- email -->
                        <p>
                            <label for="emailsignup" class="youmail" data-icon="e">Email</label>
                            <span ng-show="!registerForm.emailsignup.$invalid && registerForm.emailsignup.$dirty">
                    <i class="fa fa-check-circle-o" style="color:#4cae4c"></i>
                </span>
                            <input id="emailsignup" name="emailsignup" required type="email"
                                   placeholder="mymail@mail.com" data-ng-model="newUser.email" mi-check-unique/>
                            <span class="help-block" ng-show="registerForm.emailsignup | shouldDisplayError:registerForm:'email'">
            Invalid email format
        </span>
        <span class="help-block" ng-show="registerForm.emailsignup | shouldDisplayError:registerForm:'unique'">
            This email address has been used. If you forgot your account, recover it <a href="/recovery">here</a> or just <a href="/login">sign in</a>
        </span>
                        </p>
                        <!-- password -->
                        <p>
                            <label for="passwordsignup" class="youpasswd" data-icon="p">Password </label>
                            <input id="passwordsignup" name="passwordsignup" required type="password"
                                   placeholder="eg. 345JB5KJ2" ng-minlength="6" data-ng-model="newUser.password"/>
                            <span class="help-block" ng-show="registerForm.passwordsignup | shouldDisplayError:registerForm:'min'">
            Your password must have more than 6 characters
        </span>
                        </p>
                        <!-- confirm password -->
                        <p>
                            <label for="passwordsignup_confirm" class="youpasswd" data-icon="p">Please confirm your
                                password </label>
                            <input id="passwordsignup_confirm" name="passwordsignup_confirm" required
                                   type="password" placeholder="eg. 345JB5KJ2" data-ng-model="newUser.passwordConfirm"/>
                            <span class="help-block" ng-show="isMatch() && registerForm.passwordsignup_confirm.$dirty && registerForm.passwordsignup_confirm.$dirty">
                    Your password doesn't match
                </span>
                        </p>
                        <!-- birthday -->
                        <p>
                            <label>Birhday</label><br/>
                            <label for="date" ng-class="{'has-error':(registerForm.date | shouldDisplayError:registerForm)}">Date
                                <select id="date" data-ng-init='newUser.date = default.dates[0]' ng-options="date for date in default.dates" name="date" class="form-control" ng-model="newUser.date" mi-date-valid/>
                                <option value="">-- date --</option>
                                </select>
                            </label>
                            <label for="month" data-ng-init='newUser.month = default.months[0]' ng-class="{'has-error':(registerForm.month | shouldDisplayError:registerForm)}">Month
                                <select id="month" ng-options="month for month in default.months" name="month" class="form-control" ng-model="newUser.month" mi-date-valid/>
                                <option value="">-- month --</option>
                                </select>
                            </label>
                            <label for="year" data-ng-init='newUser.year = default.years[0]' ng-class="{'has-error':(registerForm.year | shouldDisplayError:registerForm)}">Year
                                <select id="year" ng-options="year for year in default.years" name="year" class="form-control" ng-model="newUser.year" mi-date-valid/>
                                <option value="">-- year --</option>
                                </select>
                            </label>
                        </p>
                        <p>
                            <span class="help-block" ng-show="registerForm.date | shouldDisplayError:registerForm:'datevalid'">
            Date invalid
        </span>
                        </p>
                        <!-- gender -->
                        <p>
                            <label>
                                <input type="radio" name="gender" value="male" class="form-control" checked ng-model="newUser.gender"/>Male
                            </label>
                            <label>
                                <input type="radio" name="gender" value="female" class="form-control" ng-model="newUser.gender"/>Female
                            </label>
                        </p>
                        <!-- button -->
                        <p class="signin button">
                            <input type="submit" value="Sign up"/>
                        </p>

                        <p class="change_link">
                            Already have your timeshelf?
                            <a href="" data-ng-click="jumpToLogin()" class="to_register"> Go and log in </a>
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>

        <script>
            $('#oauthGoogle').on('click',function(){
                window.location.replace('/auth/google');
            });
            $('#oauthFacebook').on('click',function(){
                window.location.replace('/auth/facebook');
            });

            removejscssfile("css/bootstrap/bootstrap.css", "css")

        </script>

