<div class="container">
    <!-- Codrops top bar -->
    <header>
        <h1>Open your timeshelf with <span>my9time</span> now!</h1>
    </header>
    <section>
        <div id="container_login">
            <a class="hiddenanchor" id="toregister"></a>
            <a class="hiddenanchor" id="tologin"></a>

            <div id="wrapper">
                <div id="login" class="animate form">
                    <form name="loginForm" novalidate mi-submit="login()" data-ng-controller="SignInController">
                        <h1>Log in</h1>
                        <div class="alert alert-danger" ng-show="isLoginError">
                            <span ng-bind="loginError"></span>
                        </div>
                        <!-- username -->
                        <p>
                            <label for="username" class="uname" data-icon="u">
                                 Your email or username
                            </label>
                            <input type="text" name="username" id="username" placeholder="myusername or mymail@mail.com"
                                   ng-model="session.username" required mi-check-username/>
                            <span class="help-block" ng-show="loginForm.username | shouldDisplayError:loginForm:'required'">
                                Please input your username
                            </span>
                        </p>
                        <!-- password -->
                        <p>
                            <label for="password" class="youpasswd" data-icon="p"> Your password </label>
                            <input id="password" name="password" required type="password"
                                   placeholder="eg. 345JB5KJ2" data-ng-model="session.password"/>
                            <span class="help-block" ng-show="loginForm.password | shouldDisplayError:loginForm:'required'">
                    Please input your password
                            </span>
                        </p>
                        <!-- remember me -->
                        <p class="keeplogin">
                            <input type="checkbox" name="loginkeeping" id="loginkeeping" value="loginkeeping"/>
                            <label for="loginkeeping">Keep me logged in</label>
                        </p>
                        <!-- login button -->
                        <p class="login button">
                            <input type="submit" value="Login"/>
                        </p>
                        <!-- toggle to register -->
                        <p class="change_link">
                            Not a member yet ?
                            <a href="#toregister" class="to_register">Register</a>
                        </p>

                        <button type="submit" class="btn btn-primary" value="Login" title="Login">Login</button>
                    </form>
                </div>
                <!-- register form -->
                <div id="register" class="animate form">
                    <form name="registerForm" novalidate mi-submit="submit()" data-ng-controller="SignUpController">
                        <!-- username -->
                        <p>
                            <label for="usernamesignup" class="uname" data-icon="u">Username</label>
                            <span ng-show="!registerForm.usernamesignup.$invalid && registerForm.usernamesignup.$dirty">
                    <i class="fa fa-check-circle-o" style="color:#4cae4c"></i></span>
                            <input id="usernamesignup" name="usernamesignup" required type="text"
                                   placeholder="username1992" ng-minlength="6" data-ng-model="newUser.username"
                                    ng-pattern="/^[a-zA-Z_0-9]*$/" mi-check-unique/>
                            <span class="help-block" ng-show="registerForm.usernamesignup | shouldDisplayError:registerForm:'min'">
            Your username must have more than 6 characters
        </span>
        <span class="help-block" ng-show="registerForm.usernamesignup | shouldDisplayError:registerForm:'unique'">
            Someone has used this username, please try another
        </span>
        <span class="help-block" ng-show="registerForm.usernamesignup | shouldDisplayError:registerForm:'pattern'">
            Username can not contain special characters excepts '_'
        </span>
                        </p>
                        <!-- email -->
                        <p>
                            <label for="emailsignup" class="youmail" data-icon="e">Email</label>
                            <span ng-show="!registerForm.emailsignup.$invalid && registerForm.emailsignup.$dirty">
                    <i class="fa fa-check-circle-o" style="color:#4cae4c"></i>
                </span>
                            <input id="emailsignup" name="emailsignup" required type="email"
                                   placeholder="mymail@mail.com" data-ng-model="newUser.email" mi-check-unique/>
                            <span class="help-block" ng-show="registerForm.emailsignup | shouldDisplayError:registerForm:'email'">
            Invalid email format
        </span>
        <span class="help-block" ng-show="registerForm.emailsignup | shouldDisplayError:registerForm:'unique'">
            This email address has been used. If you forgot your account, recover it <a href="/recovery">here</a> or just <a href="/login">sign in</a>
        </span>
                        </p>
                        <!-- password -->
                        <p>
                            <label for="passwordsignup" class="youpasswd" data-icon="p">Password </label>
                            <input id="passwordsignup" name="passwordsignup" required type="password"
                                   placeholder="eg. 345JB5KJ2" ng-minlength="6" data-ng-model="newUser.password"/>
                            <span class="help-block" ng-show="registerForm.passwordsignup | shouldDisplayError:registerForm:'min'">
            Your password must have more than 6 characters
        </span>
                        </p>
                        <!-- confirm password -->
                        <p>
                            <label for="passwordsignup_confirm" class="youpasswd" data-icon="p">Please confirm your
                                password </label>
                            <input id="passwordsignup_confirm" name="passwordsignup_confirm" required
                                   type="password" placeholder="eg. 345JB5KJ2" data-ng-model="newUser.passwordConfirm"/>
                            <span class="help-block" ng-show="isMatch() && registerForm.passwordsignup_confirm.$dirty && registerForm.passwordsignup_confirm.$dirty">
                    Your password doesn't match
                </span>
                        </p>
                        <!-- birthday -->
                        <p>
                            <label for="date" ng-class="{'has-error':(registerForm.date | shouldDisplayError:registerForm)}">
                                <select id="date" ng-options="date for date in default.dates" name="date" class="form-control" ng-model="newUser.date" mi-date-valid/>
                                <option value="">-- date --</option>
                                </select>
                            </label>
                            <label for="month" ng-class="{'has-error':(registerForm.month | shouldDisplayError:registerForm)}">
                                <select id="month" ng-options="month for month in default.months" name="month" class="form-control" ng-model="newUser.month" mi-date-valid/>
                                <option value="">-- month --</option>
                                </select>
                            </label>
                            <label for="year" ng-class="{'has-error':(registerForm.year | shouldDisplayError:registerForm)}">
                                <select id="year" ng-options="year for year in default.years" name="year" class="form-control" ng-model="newUser.year" mi-date-valid/>
                                <option value="">-- year --</option>
                                </select>
                            </label>
        <span class="help-block" ng-show="registerForm.date | shouldDisplayError:registerForm:'datevalid'">
            Date invalid
        </span>
                        </p>
                        <!-- gender -->
                        <p>
                            <label>
                                <input type="radio" name="gender" value="male" class="form-control" checked ng-model="newUser.gender"/>Male
                            </label>
                            <label>
                                <input type="radio" name="gender" value="female" class="form-control" ng-model="newUser.gender"/>Female
                            </label>
                        </p>
                        <!-- button -->
                        <p class="signin button">
                            <input type="submit" value="Sign up"/>
                        </p>

                        <p class="change_link">
                            Already have your timeshelf?
                            <a href="#tologin" class="to_register"> Go and log in </a>
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>
        <!-- old sign in -->
<!--<section data-ng-controller="SignInController">-->
    <!--<div class="row">-->
        <!--<div class="col-xs-12 col-md-6">-->
            <!--&lt;!&ndash; local auth &ndash;&gt;-->
            <!--<h1>Log In</h1>-->
            <!--<form name="loginForm" novalidate mi-submit="login()">-->
                <!--<div class="alert alert-danger" id="error-box" ng-show="isLoginError">-->
                    <!--<span ng-bind="loginError"></span>-->
                <!--</div>-->
                <!--<div class="form-group"-->
                     <!--ng-class="{'has-error':(loginForm.username | shouldDisplayError:loginForm)}">-->
                    <!--<label for="username">Username</label>-->
                    <!--<span ng-show="loginForm.username.$error.required" ng-model="usernameError" style="margin-left:5px;">*</span>-->
                    <!--<input type="text" name="username" id="username" placeholder="input username..."-->
                           <!--class="form-control" ng-model="session.username" required mi-check-username/>-->
                <!--<span class="help-block" ng-show="loginForm.username | shouldDisplayError:loginForm:'required'">-->
                    <!--Please input your username-->
                <!--</span>-->
                <!--</div>-->
                <!--<div class="form-group"-->
                     <!--ng-class="{'has-error':(loginForm.password | shouldDisplayError:loginForm)}">-->
                    <!--<label for="password">Password</label>-->
                    <!--<span ng-show="loginForm.password.$error.required"> *</span>-->
                    <!--<input type="password" name="password" id="password" placeholder="input password..."-->
                           <!--class="form-control" ng-model="session.password" required/>-->
                <!--<span class="help-block" ng-show="loginForm.password | shouldDisplayError:loginForm:'required'">-->
                    <!--Please input your password-->
                <!--</span>-->
                <!--</div>-->
                <!--<button type="submit" class="btn btn-primary" value="Login" title="Login">Login</button>-->
            <!--</form>-->
            <!--<hr/>-->
            <!--<a href="/recovery">Forgot your account?</a><br/>-->
            <!--<a href="/signup">Create an account</a>-->
        <!--</div>-->
        <!--<div class="col-xs-12 col-md-6">-->
            <!--&lt;!&ndash; oauth &ndash;&gt;-->
            <!--&lt;!&ndash; google &ndash;&gt;-->
            <!--<a href="/auth/google" data-ng-click="oauthLogin('google')">-->
                <!--<img height="70" width="350" src="img/oauth/google.png" style="margin-top:20px;"/>-->
            <!--</a>-->
            <!--&lt;!&ndash; facebook &ndash;&gt;-->
            <!--<a href="/auth/facebook" data-ng-click="oauthLogin('facebook')">-->
                <!--<img height="70" width="350" src="img/oauth/facebook.png" style="margin-top:20px;"/>-->
            <!--</a>-->
        <!--</div>-->
    <!--</div>-->
<!--</section>-->
