<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>Add new User - <%= title %></title>
    <meta name="description" content="TrungNM, TrungNM" />
    <link rel="stylesheet" href="/stylesheets/metro-bootstrap.css">
</head>
    <h1> TrungNM - Dep Trai Vo Doi</h1>
</html>