<div class="container" ng-cloak>
    <section data-ng-controller="CalendarController" data-ng-init="find()">
        <div>
            <h4>{{message}}</h4>
        </div>

        <div class="btn-toolbar">
            <div class="btn-group">
                <button class="btn btn-success" ng-click="changeView('agendaDay', myCalendar)">{{'DAY'|translate}}</button>
                <button class="btn btn-success" ng-click="changeView('agendaWeek', myCalendar)">{{'WEEK'|translate}}</button>
                <button class="btn btn-success" ng-click="changeView('month', myCalendar)">{{'MONTHS'|translate}}</button>
            </div>
        </div>
        <div ui-calendar="uiConfig.calendar" class="span8 calendar" ng-model="eventSources" calendar="myCalendar"></div>
    </section>
</div>
