<!doctype html>
<html lang="en" ng-app="my9time">
<head>
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <!-- Styles -->
    <link href="lib/jquery-mobile/jquery.mobile-1.4.2.css" rel="stylesheet">
    <link href="lib/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!--<link href="css/styles.css" rel="stylesheet">-->
</head>

<body ng-controller="homeController" data-ng-init="initPage()">
<!-- Libraries -->
<script src="lib/jquery/jquery.js"></script>
<script src="lib/jquery-mobile/jquery.mobile-1.4.2.min.js"></script>



<script src="lib/bootstrap/js/bootstrap.js"></script>

<script src="lib/angular/angular.js"></script>
<script src="lib/angular-animate/angular-animate.js"></script>
<script src="lib/angular-ui/angular-ui-router.js"></script>
<script src="lib/angular-mobile/angular-mobile.js"></script>

<script type="text/javascript" src="lib/angular-ui/build/angular-ui.js"></script>
<script type="text/javascript" src="lib/angular-ui-calendar/src/calendar.js"></script>
<script type="text/javascript" src="lib/fullcalendar/fullcalendar/fullcalendar.js"></script>
<script type="text/javascript" src="lib/fullcalendar/fullcalendar/gcal.js"></script>
<script type="text/javascript" src="lib/angular-ui-calendar/src/calendar.js"></script>
<script src="lib/bootstrap/ui-bootstrap-tpls-0.10.0.js"></script>


<script src="lib/angular-touch/angular-touch.js"></script>
<script src="lib/angular-resource/angular-resource.js"></script>
<script src="lib/angular-cookies/angular-cookies.js"></script>

<!-- init - config-->
<script src="js/app.js"></script>
<script src="js/config.js"></script>

<!-- Services-->
<script src="js/services/global.js"></script>
<script src="js/services/resource/user.js"></script>
<script src="js/services/resource/event.js"></script>
<script src="js/services/resource/calendarEvent.js"></script>
<!--<script src="js/services/services.js"></script>-->
<script src="js/services/helper.js"></script>

<!-- Controllers-->
<script src="js/controllers/homeController.js"></script>
<script src="js/controllers/user/userController.js"></script>
<script src="js/controllers/event/eventController.js"></script>
<script src="js/controllers/todolist/todolistController.js"></script>
<script src="js/controllers/calendar/calendar.js"></script>


<!-- Filters-->
<script src="js/filters/filters.js"></script>

<!-- Directives-->
<script src="js/directives/directives.js"></script>

<!--<script data-main="main" src="requirejs.js"></script>-->
    <!--<div data-role="page">-->
        <!--{{isLogged}}-->

        <!--<div data-role="header" data-position="fixed" data-theme="a">-->
            <!--<h1>My9time</h1>-->
        <!--</div>-->
        <!--&lt;!&ndash; /header &ndash;&gt;-->
        <!--<div class="container" data-role="content" data-ng-controller="userController">-->
            <!--<label>Username</label><input  type="text" ng-model="username"> </br>-->
            <!--<label>Password</label><input  type="password" ng-model="password"> </br>-->
            <!--<button ng-click="login()">Login</button> </br>-->
            <!--<button data-ng-click="logout()">Logout</button>-->

        <!--</div>-->
    <!--</div>-->


<div data-role="header" data-position="fixed" data-theme="a">
    <h1>My9time</h1>
    <a href="#outside" data-icon="bars" data-iconpos="notext">Menu</a>
    <div data-role="navbar">
        <ul>
            <li><a ui-sref="home">Homepage</a></li>
            <li><a ui-sref="timeshelf">Timeshelf</a></li>
        </ul>
    </div>
</div>

<div data-role="page" id="a">

    <!-- Main -->
    <!--<div ui-view style="padding-top: 80px;"></div>-->
    <div ui-view role="main" class="ui-content" style="padding-top: 80px;"></div>

    <!-- Footer -->
    <div data-role="footer" data-position="fixed" ng-controller="todolistController" data-ng-init="getTodo()">
        <button data-ng-click="gotoTodo()">To Do List</button>
        <!--<button data-ng-click="logout()">Log Out</button>-->
    </div>
</div>


<div data-role="panel" id="outside" data-theme="a" data-display="reveal">
    <div class="profile" data-ng-controller="userController" data-ng-init="viewProfile()">
        <p><a ui-sref="profile"><img src="http://42.116.222.193:8080/{{user.avatar}}" style="max-height: 10%"> - {{user.local.username}}</a></p>
    </div></br>
    <ul data-role="listview">
        <li><a ui-sref="messages">Messages</a></li>
        <li><a ui-sref="calendar">Calendar</a></li>
    </ul>
</div>

<script>
    $( document ).on( "pagecreate", function() {
        $( "body > [data-role='panel']" ).panel();
        $( "body > [data-role='panel'] [data-role='listview']" ).listview();
    });
    $( document ).one( "pageshow", function() {
        $( "body > [data-role='header']" ).toolbar();
        $( "body > [data-role='header'] [data-role='navbar']" ).navbar();
    });
</script>

</body>
</html>