<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1><%= title %></h1>
<p>Welcome to <%= title %></p>
<hr/>
<% if(!isLoggedIn){ %>
    <p>Please <a href="/login">sign in</a></p>
<% }else{ %>
    <input type="hidden" id="user-id" value="<%= userId %>"/>
    <button id="pushTest">Push</button>
<% } %>

<div id="notifications">

</div>


<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script src="/socket.io/socket.io.js"> </script>
<script>
    var notification = io.connect('http://localhost/notification');
    $(document).ready(function(){
        notification.on('connect', function(){
            var userid = $('#user-id').val();
            if(userid!=""){
                notification.emit('user',{Id:userid});
            }
        });

        notification.on('update', function(data){
            var $nofList = $('#notifications');
            // get data from server
            var html = '<p>data : ' + JSON.stringify(data) + '</p>';
            $nofList.innerHTML = html;
        });
    });



    $('html').on('click','#pushTest',function(){
        var userid = $('#user-id').val();
        if(userid!=""){
            notification.emit('push',{Id:userid, Message: "Im just me"});
        }
    });
</script>
</body>
</html>