<section data-ng-controller="eventController">
    <h1>Create new event</h1>
    <form name="createForm" novalidate ng-submit="create()">
        <div class="alert alert-danger" id="error-box" ng-show="isServerError">
            <span ng-bind="serverError"></span>
        </div>
        <span>Name</span>
        <input type="text" name="name"  data-ng-model="name"  required  ng-minlength="6"/></td>
        <span ng-show="!createForm.name.$invalid && createForm.name.$dirty"><i class="fa fa-check-circle-o" style="color:#4cae4c"></i></span>
                <span class="help-block" ng-show="createForm.name.$error && createForm.name.$dirty">
                    Name of an event must have more than 6 characters
                </span>
        </br>
        <span>Start time</span>
        <input type="datetime" name="start" data-ng-model ="start" data-date-format="yyyy-mm-dd" />
        </br>
        <span>Time</span>
        <datetimepicker min-date="minDate" show-weeks="showWeeks" hour-step="hourStep" minute-step="minuteStep" ng-model="date"
                        show-meridian="showMeridian" date-format="dd-MMM-yyyy" date-options="dateOptions"
                        date-disabled="disabled(date, mode)" showMinutes="true"></datetimepicker>
        </br>
        <span>End time</span>
        <input type="datetime" name="end"  data-ng-model="end" />
        </br>
        <span>Description</span>
        <input type="text" name="description"  data-ng-model="description"/>
        </br>
        <span>Location</span>
        <input type="text" name="location"  data-ng-model="location"/>
        </br>
        <span>Privacy</span>
        <input type="radio" name="privacy"  data-ng-model ="privacy" value="p"/> Private
        <input type="radio" name="privacy"  data-ng-model ="privacy" value="g"/> Group
        <input type="radio" name="privacy"  data-ng-model ="privacy" value="c"/> Close community
        <input type="radio" name="privacy"  data-ng-model ="privacy" value="o"/> Open community

        </br>
        <span>Invite</span>
        <input type="text" name="user" id="friend-token"/>
        </br>
        <span>Invite right</span>
        <input type="checkbox" name="all" id="all"/> All
        <input type="text" name="invite" id="invite-token"/>

        </br>
        Color
        <!-- Google style -->
        <input type="checkbox" name="color"  data-ng-model ="color" value="ffffff"/> ffffff
        <input type="checkbox" name="color"  data-ng-model ="color" value="000000"/> 000000

        </br>
        Alarm
        <input type="checkbox" name="alarm"  data-ng-model="alarm"/> Alarm
        </br>
        <input type="submit" value="Submit"/>
    </form>
</section>

<!-- date picker -->
<link href="/lib/datetime-picker/datetimepicker.css" type="text/css" rel="stylesheet">