

<form name="contactform">
    <h2>Multiple images with resizing</h2>
    <div>
        <input id="inputImage4"
               type="file"
               accept="image/*"
               multiple
               image="images4"
               resize-max-height="300"
               resize-max-width="250"
               resize-quality="0.7" />
        <img ng-repeat="img in images4" ng-src="{{img.resized.dataURL}}" />
        <div data-ng-repeat="image in images4">
            <button type="submit" ng-click="single(image.resized)">Add</button>
        </div>

    </div>
    <hr />
</form>

<p>Uploaded Image / Size: {{sizeInBytes}} Bytes</p>
<img ng-src="{{uploadedImgSrc}}" />


</body>
</html>