<!-- js-->
<lazy-load src="/lib/skel/skel.min.js"></lazy-load>
<lazy-load src="/lib/skel/skel-panels.min.js"></lazy-load>
<lazy-load src="/lib/skel/init.js"></lazy-load>
<lazy-load src="/lib/jquery/jquery-1.8.3.min.js"></lazy-load>

<!-- css-->
<link rel="stylesheet" href="/css/skel-noscript.css"/>
<link rel="stylesheet" href="/css/home-style.css"/>
<link rel="stylesheet" href="/css/style-wide.css"/>
<link rel="stylesheet" href="/css/animate-custom.css"/>
<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic,700|Open+Sans+Condensed:300,700"
      rel="stylesheet"/>


<div class="container" id="event-detail" data-ng-init="findOne()">
    <div class="event-cover"><img src="/../../css/images/pic01.jpg"/></div>
    <!-- Event participants -->
    <div class="event-participants">
        <div class="event-participants-item" data-ng-repeat="user in event.user">
            <img src="/../../css/images/pic04.jpg">
            <a href="/timeshelf/{{user.userID}}"><b>{{user.username}}</b></a><br/>
            <i>{{user.fullName}}</i><br/>
            <a class="link-note">Chia sẻ nè!</a>
        </div>
        <div class="event-participants-item">
            <img src="/../../css/images/pic04.jpg">
            <b>Ai đấy</b><br/>
            <i>Tên đầy đủ là đây</i><br/>
            <a class="link-note">Chia sẻ nè !</a>
        </div>
    </div>
    <div class="event-main">
    <div class="event-intro">
        <!-- eventID-->
        <div><input type="hidden" data-ng-model="event._id" value="{{event._id}}"> </div>
        <h1 id="event-name">{{event.name}}</h1>
        <b id='update-event-name' style="display: none">Tên Sự Kiện: <input type='text' id='eventName' name='eventName' data-ng-model='event.name' value='{{event.name}}'> </b>
        <table id="event-intro-view">
            <tr><td>- Chủ xị:</td><td>{{event.creator.username}}</td>
            </tr>

            <tr><td>- Thời gian bắt đầu:</td><td><input type='text' id='startTime' name='startTime' data-ng-model='event.startTime' value='{{event.startTime | dateTimeFilter:"fullDate"}}' readonly ></td>
            </tr>

            <tr><td>- Thời gian kết thức:</td><td><input type='text' id='endTime' name='endTime' data-ng-model='event.endTime' value='{{event.endTime | dateTimeFilter:"fullDate"}}' readonly ></td>
            </tr>

            <tr><td>- Địa điểm:</td><td>{{event.location}}</td>
            </tr>

            <tr><td>- Sơ Lượt:</td><td>{{event.description}}</td>
            </tr>

        <!--<button id="change-intro" class="btn-style">Edit</button> -->
        <tr><td></td><td><input type="button" id="change-intro" class="btn-style" value="Edit">
       </td>
        </tr>
        </table>

        <table id="event-intro-update" style="display: none">
            <tr>
                <td>- Chủ xị: </td><td><input type='text' id ='eventCreator' name='eventCreator' disabled value='{{event.creator.username}}'></td></tr>

            <tr>
                <td>- Thời gian bắt đầu: </td>
                <td>
                    <select id="date1" ng-options="date for date in default.dates" name="date1" ng-init="{{event.startTime | dateTimeFilter:'date'}}" class="form-control" ng-model="date1"/>
                    <option value="">-- date --</option>
                    </select>
                    <select id="month1" ng-options="month for month in default.months" name="month1" ng-init="{{event.startTime | dateTimeFilter:'month'}}" class="form-control" ng-model="month1" />
                    <option value="">-- month --</option>
                    </select>
                    <select id="year1" ng-options="year for year in default.years" name="year1" ng-init="{{event.startTime | dateTimeFilter:'year'}}" class="form-control" ng-model="year1"/>
                    <option value="">-- year --</option>
                    </select>
                    <select id="hour1" ng-options="hour for hour in default.hours" name="hour1" ng-init="{{event.startTime | dateTimeFilter:'hour'}}" class="form-control" ng-model="hour1"/>
                    <option value="">-- hour --</option>
                    </select>
                    <select id="minute1" ng-options="minute for minute in default.minutes" name="minute1" ng-init="{{event.startTime | dateTimeFilter:'minute'}}" class="form-control" ng-model="minute1"/>
                    <option value="">-- minute --</option>
                    </select>
                    <select id="step1" ng-options="step for step in default.steps" name="step1" ng-init="{{event.startTime | dateTimeFilter:'step'}}" class="form-control" ng-model="step1"/>
                    <option value="">-- step --</option>
                    </select>
                </td>
            </tr>

            <tr>
                <td>- Thời gian kết thức: </td>
                <td>
                    <select id="date2" ng-options="date for date in default.dates" name="date2" ng-init="{{event.endTime | dateTimeFilter:'date'}}" class="form-control" ng-model="date2"/>
                    <option value="" selected>{{event.endTime | dateTimeFilter:'date'}}</option>
                    </select>
                    <select id="month2" ng-options="month for month in default.months" name="month2" ng-init="{{event.endTime | dateTimeFilter:'month'}}" class="form-control" ng-model="month2" />
                    <option value="">-- month --</option>
                    </select>
                    <select id="year2" ng-options="year for year in default.years" name="year2" ng-init="{{event.endTime | dateTimeFilter:'year'}}" class="form-control" ng-model="year2"/>
                    <option value="">-- year --</option>
                    </select>
                    <select id="hour2" ng-options="hour for hour in default.hours" name="hour2" ng-init="{{event.endTime | dateTimeFilter:'hour'}}" class="form-control" ng-model="hour2"/>
                    <option value="">-- hour --</option>
                    </select>
                    <select id="minute2" ng-options="minute for minute in default.minutes" name="minute2" ng-init="{{event.endTime | dateTimeFilter:'minute'}}" class="form-control" ng-model="minute2"/>
                    <option value="">-- minute --</option>
                    </select>
                    <select id="step2" ng-options="step for step in default.steps" name="step2" ng-init="{{event.endTime | dateTimeFilter:'step'}}" class="form-control" ng-model="step2"/>
                    <option value="">-- step --</option>
                    </select>
                </td>
            </tr>

            <tr>
                <td>- Địa điểm:</td><td> <input type='text' id='eventDLocation' name='eventDLocation' data-ng-model='event.location' value='{{event.location}}'></td></tr>

            <tr>
                <td>- Sơ Lượt: </td><td><input type='text' id='eventDescription' name='eventDescription' data-ng-model='event.description' value='{{event.description}}'></td></tr>

            <!--<button id="change-intro" class="btn-style">Edit</button> -->
            <tr><td></td><td>
                <input type="submit" id="submitEventIntro" name="submitEventIntro" value="Update" data-ng-click="updateIntro()" class="btn-style">
                <input type="button" id="cancelEventIntro" name="cancelEventTntro" value="Cancel" class="btn-style"></td>
            </tr>
        </table>
    </div>


        <div class="event-notice"><h1>Thông báo</h1>

            <div class="content">
                <textarea id="eventAnnouncement" name="eventAnnouncement" data-ng-model="event.announcement"disabled="true">{{event.announcement}}</textarea>

            </div>
            <input type="button" class="btn-style" id="changeNotice" value="Edit">
            <input type="submit" id="submitAnnouncement" name="submitAnnouncement" value="Update" data-ng-click="updateAnnouncement()" style="display: none" class="btn-style">
            <input type="button" id="cancelAnnouncement" name="cancelAnnouncement" value="Cancel" style=" display: none" class="btn-style">
        </div>
        <div class="event-images"><h1>Hình ảnh</h1>

            <div class="content">
                <img src="/../../css/images/pic02.jpg">
                <img src="/../../css/images/pic03.jpg">
                <img src="/../../css/images/pic04.jpg">
                <img src="/../../css/images/pic05.jpg">
                <img src="/../../css/images/pic03.jpg">
                <img src="/../../css/images/pic04.jpg">
                <img src="/../../css/images/pic02.jpg">
            </div>
            <input type="button" id="changeImage" value="Edit">
        </div>

        <div class="event-comments"><h1>Bình luận</h1>

            <div class="content">
                <textarea placeholder="Write your comment"></textarea>

                <div class="list-comment">
                    <!-- Comment item -->
                    <div class="comment-item">
                        <img src="/../../css/images/ava1.png"
                             alt=""/>

                <span class="comment-body">
                    <b class="user-name">thnonl</b>
                    A wonderful serenity has taken possession of my entire soul, like
                these sweet mornings of autumn
                which I enjoy with my whole heart.
                <i class="comment-date">10h20 November 20, 2013</i>
                </span>

                    </div>

                    <!-- Comment item -->
                    <div class="comment-item">
                        <img src="/../../css/images/ava2.jpg"
                             alt=""/>

                <span class="comment-body">
                    <b class="user-name">thnonl</b>
                    A wonderful serenity has taken possession of my entire soul, like
                these sweet mornings of autumn
                which I enjoy with my whole heart.
                <i class="comment-date">10h20 November 20, 2013</i>
                </span>

                    </div>

                    <!-- Comment item -->
                    <div class="comment-item">
                        <img src="/../../css/images/avatar.jpg"
                             alt=""/>

                <span class="comment-body">
                    <b class="user-name">thnonl</b>
                    A wonderful serenity has taken possession of my entire soul, like
                these sweet mornings of autumn
                which I enjoy with my whole<i class="comment-date">10h20 November 20, 2013</i>
</span>
                    </div>
                    <!-- Comment item -->
                    <div class="comment-item">
                        <img src="/../../css/images/avatar.jpg"
                             alt=""/>

                <span class="comment-body">
                    <b class="user-name">thnonl</b>
                    A wonderful serenity .
                <i class="comment-date">10h20 November 20, 2013</i>
                </span>

                    </div>


                </div>
            </div>
        </div>
    </div>
    <div class="event-footer"></div>
</div>



<!--<form data-ng-submit="update()" data-ng-init="findOne()">-->
    <!--<table>-->
        <!--<tbody>-->
        <!--<tr>-->
            <!--<th>Name</th>-->
            <!--<td><input type="text" name="name"  data-ng-model="event.name" value="{{event.name}}"  required/></td>-->
        <!--</tr>-->
        <!--<tr>-->
            <!--<th>Start time</th>-->
            <!--<td><input type="date" name="start" data-ng-model ="event.startTime" value="{{startTime}}" /></td>-->
        <!--</tr>-->
        <!--<tr>-->
            <!--<th>End time</th>-->
            <!--<td><input type="date" name="end"  data-ng-model="event.endTime" value="{{endTime}}" /></td>-->
        <!--</tr>-->
        <!--<tr>-->
            <!--<th>Description</th>-->
            <!--<td><input type="text" name="description"  data-ng-model="event.description" value="{{event.description}}"/></td>-->
        <!--</tr>-->
        <!--<tr>-->
            <!--<th>Location</th>-->
            <!--<td><input type="text" name="location"  data-ng-model="event.location" value="{{event.location}}" /></td>-->
        <!--</tr>-->
        <!--<tr>-->
            <!--<th>Privacy</th>-->
            <!--<td><input type="radio" name="privacy"  data-ng-model ="event.privacy" value="p"/> Private-->
                <!--<input type="radio" name="privacy"  data-ng-model ="event.privacy" value="g"/> Group-->
                <!--<input type="radio" name="privacy"  data-ng-model ="event.privacy" value="c"/> Close community-->
                <!--<input type="radio" name="privacy"  data-ng-model ="event.privacy" value="o"/> Open community-->
            <!--</td>-->
        <!--</tr>-->
        <!--<tr>-->
            <!--<th>Invite</th>-->
            <!--<td><input type="text" name="user" id="friend-token"/></td>-->
        <!--</tr>-->
        <!--<tr>-->
            <!--<th></th>-->
        <!--</tr>-->
        <!--<tr>-->
            <!--<th>Invite right</th>-->
            <!--<td><input type="checkbox" name="all" id="all"/> All-->
                <!--<input type="text" name="invite" id="invite-token"/>-->
            <!--</td>-->
        <!--</tr>-->
        <!--<tr>-->
            <!--<th>Color</th>-->
            <!--&lt;!&ndash; Google style &ndash;&gt;-->
            <!--<td><input type="checkbox" name="color"  data-ng-model ="event.color" value="ffffff"/> ffffff-->
                <!--<input type="checkbox" name="color"  data-ng-model ="event.color" value="000000"/> 000000-->
            <!--</td>-->
        <!--</tr>-->
        <!--<tr>-->
            <!--<th>Alarm</th>-->
            <!--<td><input type="checkbox" name="alarm"  data-ng-model="alarm"/> Alarm</td>-->
        <!--</tr>-->
        <!--</tbody>-->
    <!--</table>-->
    <!--<input type="submit" value="Update"/>-->
<!--</form>-->
<lazy-load src="/lib/skel/event-detail.js"></lazy-load>