<!-- js-->
<lazy-load src="/lib/skel/skel.min.js"></lazy-load>
<lazy-load src="/lib/skel/skel-panels.min.js"></lazy-load>
<lazy-load src="/lib/skel/init.js"></lazy-load>
<lazy-load src="/lib/jquery/jquery-1.8.3.min.js"></lazy-load>

<!-- css-->
<link rel="stylesheet" href="/css/skel-noscript.css"/>
<link rel="stylesheet" href="/css/home-style.css"/>
<link rel="stylesheet" href="/css/style-wide.css"/>
<link rel="stylesheet" href="/css/animate-custom.css"/>
<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic,700|Open+Sans+Condensed:300,700"
      rel="stylesheet"/>


<div class="container">
    <div class="event-cover"><img src="/../../css/images/pic01.jpg"/></div>
    <div class="event-intro">
        <!-- eventID-->
        <div><input type="hidden" data-ng-model="event._id" value="{{event._id}}"> </div>
        <h1 id="event-name">{{event.name}}</h1>
        <div class="event-decript">
            <p id='update-event-name' style="display: none">Tên Sự Kiện: <input type='text' id='eventName' name='eventName' data-ng-model='event.name' value='{{event.name}}'> </p>
            <p id="event-creator">- Chủ xị:{{event.creator.username}}</p>
            <p id='update-event-creator' style="display: none">- Chủ xị: <input type='text' id ='eventCreator' name='eventCreator' readonly value='{{event.creator.username}}'></p>

            <p id="event-start">- Thời gian bắt đầu:{{event.startTime}}</p>
            <p id='update-event-start' style="display: none">- Thời gian bắt đầu: <input type='text' id='start' name='start' data-ng-model='event.startTime' value='{{event.startTime}}'></p>

            <p id="event-end">- Thời gian kết thức:{{event.endTime}}</p>
            <p id='update-event-end' style="display: none">- Thời gian kết thức: <input type='text' id='end' name='end' data-ng-model='event.endTime' value='{{event.endTime}}'></p>

            <p id="event-location">- Địa điểm:{{event.location}}</p>
            <p id='update-event-location' style="display: none">- Địa điểm: <input type='text' id='eventDLocation' name='eventDLocation' data-ng-model='event.location' value='{{event.location}}'>

            <p id="event-description">- Sơ Lượt:{{event.description}}</p>
            <p id='update-event-description' style="display: none">- Sơ Lượt: <input type='text' id='eventDescription' name='eventDescription' data-ng-model='event.description' value='{{event.description}}'>
        </div>
        <button id="change-intro">Edit</button>
        <input type="submit" id="submitEventIntro" name="submitEventIntro" value="Update" data-ng-click="updateIntro()" style="display: none">
        <input type="button" id="cancelEventIntro" name="cancelEventTntro" value="Cancel" style=" display: none">
    </div>

    <!-- Event participants -->
    <div class="event-participants">
        <div class="event-participants-item">
            <img src="/../../css/images/pic04.jpg">

            <h1>Ai đó</h1>
            <a class="link-note">Chia sẻ nè!</a>
        </div>
        <div class="event-participants-item">
            <img src="/../../ccs/images/pic04.jpg">

            <h1>Ai đấy</h1>
            <a class="link-note"></a>
        </div>
    </div>

    <div class="event-main">
        <div class="event-notice"><h1>Thông báo</h1>

            <div class="content">
                <p>Thông báo cái gì đấy!</p>


                <p>Thông báo cái gì đấy!</p>

            </div>
            <input type="button" id="changeNotice" value="Edit">
        </div>
        <div class="event-images"><h1>Hình ảnh</h1>

            <div class="content">
                <img src="/../../css/images/pic02.jpg">
                <img src="/../../css/images/pic03.jpg">
                <img src="/../../css/images/pic04.jpg">
                <img src="/../../css/images/pic05.jpg">
                <img src="/../../css/images/pic03.jpg">
                <img src="/../../css/images/pic04.jpg">
                <img src="/../../css/images/pic02.jpg">
            </div>
            <input type="button" id="changeImage" value="Edit">
        </div>

        <div class="event-comments"><h1>Bình luận</h1>

            <div class="content">
                <textarea placeholder="Write your comment"></textarea>

                <div class="list-comment">
                    <!-- Comment item -->
                    <div class="comment-item">
                        <img src="/../../css/images/ava1.png"
                             alt=""/>

                <span class="comment-body">
                    <b class="user-name">thnonl</b>
                    A wonderful serenity has taken possession of my entire soul, like
                these sweet mornings of autumn
                which I enjoy with my whole heart.
                <i class="comment-date">10h20 November 20, 2013</i>
                </span>

                    </div>

                    <!-- Comment item -->
                    <div class="comment-item">
                        <img src="/../../css/images/ava2.jpg"
                             alt=""/>

                <span class="comment-body">
                    <b class="user-name">thnonl</b>
                    A wonderful serenity has taken possession of my entire soul, like
                these sweet mornings of autumn
                which I enjoy with my whole heart.
                <i class="comment-date">10h20 November 20, 2013</i>
                </span>

                    </div>

                    <!-- Comment item -->
                    <div class="comment-item">
                        <img src="/../../css/images/avatar.jpg"
                             alt=""/>

                <span class="comment-body">
                    <b class="user-name">thnonl</b>
                    A wonderful serenity has taken possession of my entire soul, like
                these sweet mornings of autumn
                which I enjoy with my whole<i class="comment-date">10h20 November 20, 2013</i>
</span>
                    </div>
                    <!-- Comment item -->
                    <div class="comment-item">
                        <img src="/../../css/images/avatar.jpg"
                             alt=""/>

                <span class="comment-body">
                    <b class="user-name">thnonl</b>
                    A wonderful serenity .
                <i class="comment-date">10h20 November 20, 2013</i>
                </span>

                    </div>


                </div>
            </div>
        </div>
    </div>
    <div class="event-footer"></div>
</div>



<form data-ng-submit="update()" data-ng-init="findOne()">
    <table>
        <tbody>
        <tr>
            <th>Name</th>
            <td><input type="text" name="name"  data-ng-model="event.name" value="{{event.name}}"  required/></td>
        </tr>
        <tr>
            <th>Start time</th>
            <td><input type="date" name="start" data-ng-model ="event.startTime" value="{{startTime}}" /></td>
        </tr>
        <tr>
            <th>End time</th>
            <td><input type="date" name="end"  data-ng-model="event.endTime" value="{{endTime}}" /></td>
        </tr>
        <tr>
            <th>Description</th>
            <td><input type="text" name="description"  data-ng-model="event.description" value="{{event.description}}"/></td>
        </tr>
        <tr>
            <th>Location</th>
            <td><input type="text" name="location"  data-ng-model="event.location" value="{{event.location}}" /></td>
        </tr>
        <tr>
            <th>Privacy</th>
            <td><input type="radio" name="privacy"  data-ng-model ="event.privacy" value="p"/> Private
                <input type="radio" name="privacy"  data-ng-model ="event.privacy" value="g"/> Group
                <input type="radio" name="privacy"  data-ng-model ="event.privacy" value="c"/> Close community
                <input type="radio" name="privacy"  data-ng-model ="event.privacy" value="o"/> Open community
            </td>
        </tr>
        <tr>
            <th>Invite</th>
            <td><input type="text" name="user" id="friend-token"/></td>
        </tr>
        <tr>
            <th></th>
        </tr>
        <tr>
            <th>Invite right</th>
            <td><input type="checkbox" name="all" id="all"/> All
                <input type="text" name="invite" id="invite-token"/>
            </td>
        </tr>
        <tr>
            <th>Color</th>
            <!-- Google style -->
            <td><input type="checkbox" name="color"  data-ng-model ="event.color" value="ffffff"/> ffffff
                <input type="checkbox" name="color"  data-ng-model ="event.color" value="000000"/> 000000
            </td>
        </tr>
        <tr>
            <th>Alarm</th>
            <td><input type="checkbox" name="alarm"  data-ng-model="alarm"/> Alarm</td>
        </tr>
        </tbody>
    </table>
    <input type="submit" value="Update"/>
</form>
<lazy-load src="/lib/skel/event-detail.js"></lazy-load>