<link href="css/about.css" rel="stylesheet"/>
<link href="css/bootstrap/bootstrap.css" rel="stylesheet"/>

<form method="get" action="/login">
    <center>
        <button class="btn" style="margin: 30px auto; color: #fff; background: #000" type="submit">Back</button>
    </center>
</form>

<div class="container">
<div class="row">
    <div class="col-md-4">
        <a href="#" onmouseover="tooltip.pop(this, '#my', {offsetY:15, effect:'slide'})">
            <div class="member">
                <img src="css/images/about/My1.jpg">
            </div>
            <div class="member plus">
                <img src="css/images/about/My2.jpg">
            </div>
            <p class="name">Nguyễn Huỳnh Hoài My</p>
        </a>
    </div>
    <div class="col-md-4">
        <a href="#"
           onmouseover="tooltip.pop(this, '#nam', {offsetY:15, effect:'slide'})">
            <div class="member">
                <img src="css/images/about/nam1.jpg">
            </div>
            <div class="member plus">
                <img src="css/images/about/nam2.jpg">
            </div>
            <p class="name">Thái Hoàng Nam</p>
        </a>
    </div>
    <div class="col-md-4">
        <a href="#"
           onmouseover="tooltip.pop(this, '#nghia', {offsetY:15, effect:'slide'})">
            <div class="member">
                <img src="css/images/about/nghia_1.jpg">
            </div>
            <div class="member plus">
                <img src="css/images/about/nghia_2.jpg">
            </div>
            <p class="name">Ngô Văn Nghĩa</p>
        </a>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <a href="#"
           onmouseover="tooltip.pop(this, '#thuan', {position:4, offsetX:-250, effect:'slide'})">
            <div class="member">
                <img src="css/images/about/">
            </div>
            <div class="member plus">
                <img src="css/images/about/">
            </div>
            <p class="name">Nguyễn Hoàng Thuận</p>
        </a>
    </div>
    <div class="col-md-4">
        <a href="#"
           onmouseover="tooltip.pop(this, '#minh', {position:4, offsetY:0, effect:'slide'})">
            <div class="member">
                <img src="css/images/about/">
            </div>
            <div class="member plus">
                <img src="css/images/about/">
            </div>
            <p class="name">Trần Nhật Minh</p>
        </a>
    </div>
    <div class="col-md-4">
        <a href="#"
           onmouseover="tooltip.pop(this, '#trung', {position:4, offsetY:-80, offsetX:100, effect:'slide'})">
            <div class="member">
                <img src="css/images/about/TrungNM%20-%201.jpg">
            </div>
            <div class="member plus">
                <img src="css/images/about/TrungNM%20-%202.jpg">
            </div>
            <p class="name">Nguyễn Minh Trung</p>
        </a>
    </div>
</div>

<div style="display:none;">
<div id="my">
    <div class="column">
        <p><b>biệt danh:</b> <i>Ryuu, Rylai</i></p>

        <p><b>sở thích:</b> <i>socola, bơi, hát, nhảy…</i></p>

        <p><b>khả năng:</b> <i>cày cuốc</i></p>

        <p><b>skype:</b> <i>ryuu_mx</i></p>

        <p><b>phone:</b> <i>01262610148</i></p>

        <p><i>thoải mái vui vẻ hòa đồng nhưng mà hơi điên</i></p>
    </div>
    <div class="column">
        <div class="skills">
            <h2>SKILL SET</h2>

            <p class="bar chinmuoi">Đập Chai</p>

            <p class="percent">90%</p>


            <p class="bar haimuoi">Xinh Gái</p>

            <p class="percent">20%</p>

            <p class="bar chinmuoi ">Tài Năng</p>

            <p class="percent">90%</p>

            <p class="bar nammuoi">Thủ Đoạn</p>

            <p class="percent">50%</p>

            <p class="bar mottram">Ăn Nhậu</p>

            <p class="percent">100%</p>
        </div>
    </div>
</div>

<div id="nam">
    <div class="column">
        <p><b>biệt danh:</b> <i>Là một cái tên</i></p>

        <p><b>sở thích:</b> <i>rubik, hát hò, cafe, game guốc,...</i></p>

        <p><b>khả năng:</b> <i>???</i></p>

        <p><b>skype:</b> <i>thnonl</i></p>

        <p><b>phone:</b> <i>0905 663 005</i></p>

        <p><i>nói chung là rất cool</i></p>
    </div>
    <div class="column">
        <div class="skills">
            <h2>SKILL SET</h2>

            <p class="bar saumuoi">Đập Chai</p>

            <p class="percent">60%</p>


            <p class="bar nammuoi">Xinh Gái</p>

            <p class="percent">50%</p>

            <p class="bar chinmuoi ">Tài Năng</p>

            <p class="percent">90%</p>

            <p class="bar haimuoi">Thủ Đoạn</p>

            <p class="percent">20%</p>

            <p class="bar mottram">Ăn Nhậu</p>

            <p class="percent">100%</p>
        </div>
    </div>
</div>

<div id="nghia">
    <div class="column">
        <p><b>biệt danh:</b> <i>gầy nhưng éo có gầy</i></p>

        <p><b>sở thích:</b> <i>đá banh, xem đá banh, chơi game lúc rãnh, ăn vặt</i></p>

        <p><b>khả năng:</b> <i>chưa khám phá ra khả năng đặc biệt của mình</i></p>

        <p><b>skype:</b> <i>ngovannghia1992</i></p>

        <p><b>phone:</b> <i>0905919592</i></p>

        <p><i>chậm nhưng được cái chịu khó<br/> chân thật luôn đặt trên hàng đầu, dễ gần nhưng khó chạm</i></p>
    </div>
    <div class="column">
        <div class="skills">
            <h2>SKILL SET</h2>

            <p class="bar saumuoi">Đập Chai</p>

            <p class="percent">60%</p>


            <p class="bar muoi">Xinh Gái</p>

            <p class="percent">10%</p>

            <p class="bar mottram ">Tài Năng</p>

            <p class="percent">100%</p>

            <p class="bar nammuoi">Thủ Đoạn</p>

            <p class="percent">50%</p>

            <p class="bar mottram">Ăn Nhậu</p>

            <p class="percent">100%</p>
        </div>
    </div>
</div>
<div id="thuan">
    <div class="column">
        <p><b>biệt danh:</b> <i></i></p>

        <p><b>sở thích:</b> <i></i></p>

        <p><b>khả năng:</b> <i></i></p>

        <p><b>skype:</b> <i></i></p>

        <p><b>phone:</b> <i></i></p>

        <p><i></i></p>
    </div>
    <div class="column">
        <div class="skills">
            <h2>SKILL SET</h2>

            <p class="bar mottram">Đập Chai</p>

            <p class="percent">100%</p>


            <p class="bar muoi">Xinh Gái</p>

            <p class="percent">10%</p>

            <p class="bar mottram ">Tài Năng</p>

            <p class="percent">100%</p>

            <p class="bar nammuoi">Thủ Đoạn</p>

            <p class="percent">50%</p>

            <p class="bar saumuoi">Ăn Nhậu</p>

            <p class="percent">60%</p>
        </div>
    </div>
</div>
<div id="minh">
    <div class="column">
        <p><b>biệt danh:</b> <i></i></p>

        <p><b>sở thích:</b> <i></i></p>

        <p><b>khả năng:</b> <i></i></p>

        <p><b>skype:</b> <i></i></p>

        <p><b>phone:</b> <i></i></p>

        <p><i></i></p>
    </div>
    <div class="column">
        <div class="skills">
            <h2>SKILL SET</h2>

            <p class="bar mottram">Đập Chai</p>

            <p class="percent">100%</p>


            <p class="bar chinmuoi">Xinh Gái</p>

            <p class="percent">90%</p>

            <p class="bar mottram ">Tài Năng</p>

            <p class="percent">100%</p>

            <p class="bar chinmuoi">Thủ Đoạn</p>

            <p class="percent">90%</p>

            <p class="bar saumuoi">Ăn Nhậu</p>

            <p class="percent">60%</p>
        </div>
    </div>
</div>
<div id="trung">
    <div class="column" style="width: 90%">
        <p><b>biệt danh:</b> <i>Con Mèo Màu Đen Đi Dép Lào</i></p>

        <p><b>sở thích:</b><br/>
            <i>- Xem hình, video thư giãn;</i>
            <i> Nghiên cứu tình hình xã hội, thế giới, kinh tế … trên App Báo Mới</i><br/>
            <i>- Có những sở thích nhất thời để lại những hậu quả kéo dài;</i>
            <i> Đi qua các tỉnh thành khác ăn nhờ nhà bạn bè</i>
        </p>

        <p><b>khả năng:</b> <i>Có thể ăn nhiều rau, trái cây sau khi ăn; Đi xích lô 2 bánh
        </i></p>

        <p><b>skype:</b> <i>conghe_ghecon</i></p>

        <p><b>phone:</b> <i>012-234-34560</i></p>

        <p><i>- “Khi trong mê, thì thân phận con người thật là bi đát. Nhưng khi bắt đầu nhận được mình mê, thì con
            người có thể hoán cải được hoàn cảnh và cuộc sống của mình” - Tạng Thư Phật Học</i></p>

        <div class="skills" style="margin-top: 10px">
            <h2>SKILL SET</h2>

            <p class="bar mottram">Đập Chai</p>

            <p class="percent">100%</p>


            <p class="bar chinmuoi">Xinh Gái</p>

            <p class="percent">90%</p>

            <p class="bar mottram ">Tài Năng</p>

            <p class="percent">100%</p>

            <p class="bar haimuoi">Thủ Đoạn</p>

            <p class="percent">20%</p>

            <p class="bar haimuoi">Ăn Nhậu</p>

            <p class="percent">20%</p>
        </div>
    </div>
</div>
</div>
</div>

<script>
    removejscssfile("css/style.css", "css")
</script>