<div class="modal fade" id="edit-profile-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" data-ng-controller="userController" data-ng-init="">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Edit Profile</h4>
            </div>
            <div class="modal-body">
                <form data-ng-submit="updateProfile()">
                    <table>
                        <tbody>
                        <tr>
                            <td>{{'LOCATION'|translate}}</td>
                            <td><input type="text" name="location" class="token-input"  data-ng-model="user.location" value="{{$parent.user.location}}" /></td>
                        </tr>
                        <tr>
                            <td>{{'OCCUPATION'|translate}}</td>
                            <td><input type="text" name="occupation"  data-ng-model="user.occupation" value="{{$parent.user.occupation}}" /></td>
                        </tr>
                        <tr>
                            <td>{{'WORKPLACE'|translate}}</td>
                            <td><input type="text" name="workplace"  data-ng-model="user.workplace"  value="{{$parent.user.workplace}}" /></td>
                        </tr>
                        <tr>
                            <td>{{'STUDY_PLACE'|translate}}</td>
                            <td><input type="text" name="studyPlace"  data-ng-model="user.studyPlace"  value="{{$parent.user.studyPlace}}" /></td>
                        </tr>
                        <tr>
                            <td>{{'ABOUT'|translate}}</td>
                            <td>
                                <textarea name="about" data-ng-model="user.aboutMe" style="width: 435px; height: 129px; resize:none">{{$parent.user.aboutMe}}</textarea>
                            </td>
                        </tr>
                        <tr>
                            <td>{{'DISPLAY'|translate}}</td>
                            <td>
                                <label data-ng-hide="$parent.user.showBirthday == 'y'">
                                    <input type="radio" name="showBirthday" value="y" class="form-control" ng-model="user.showBirthday">{{'YES'|translate}}
                                </label>
                                <label data-ng-hide="$parent.user.showBirthday == 'n'">
                                    <input type="radio" name="showBirthday" value="n" class="form-control" ng-model="user.showBirthday">{{'NO'|translate}}
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                <button type="button" class="btn-style" data-ng-click="returnCurValue()">{{'BUTTON_CLOSE'|translate}}</button>
                                <button type="submit" class="btn-style">{{'BUTTON_EDIT'|translate}}</button>
                            </td>
                        </tr>
                    </table>


                </form>
            </div>

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->