<div class="modal fade" id="update-intro-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" data-ng-controller="viewEventController">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{{'UPDATE_EVENT_INTRO'| translate}}</h4>
            </div>
            <div class="modal-body">
                <form id="createForm" name="createForm" novalidate mi-submit="updateIntro()">
                    <table>
                        <tr>
                            <td>{{'EVENT_NAME' | translate}}</td>
                            <td>
                                <input type="text" id="name" name="name" ng-model="event.name" required
                                       placeholder="Tên sự kiện" style="width: 250px"/>
                                <span class="error" ng-show="createForm.name | eventFilter:createForm:'required'">
                                            {{'ERROR_NAME_NULL' | translate}}
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td>{{'START_DATE' | translate}}</td>
                            <td>
                                <select id="date1" name="date1" ng-options="date for date in default.dates" name="date1"
                                         class="form-control" ng-model="date1" mi-check-date>
                                </select>
                                <select id="month1" name="month1" ng-options="month for month in default.months" name="month1"
                                         class="form-control" ng-model="month1" mi-check-date>
                                </select>
                                <select id="year1" name="year1"  ng-options="year for year in default.years" name="year1"
                                         class="form-control" ng-model="year1" mi-check-date>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                {{'START_TIME' | translate}}
                            </td>
                            <td>
                                <select id="hour1" name="hour1" ng-options="hour for hour in default.hours" name="hour1" class="form-control"
                                        ng-model="hour1" mi-check-date>
                                </select>
                                <select id="minute1" name="minute1" ng-options="minute for minute in default.minutes" name="minute1"
                                        class="form-control" ng-model="minute1" mi-check-date>
                                </select>
                                <select id="step1" name="step1" ng-options="step for step in default.steps" name="step1"
                                        class="form-control" ng-model="step1" mi-check-date>
                                </select>
                                <span class="error" ng-show="createForm.date1 | eventFilter:createForm:'validStart'">
                                    {{'ERROR_START_INVALID' | translate}}
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                {{'END_DATE' | translate}}
                            </td>
                            <td>
                                <select id="date2" name="date2" ng-options="date for date in default.dates" name="date2" class="form-control"
                                        ng-model="date2" mi-check-date>
                                    <option value="">{{'DATE' | translate}}</option>
                                </select>
                                <select id="month2" name="month2" ng-options="month for month in default.months" name="month2"
                                        class="form-control" ng-model="month2" mi-check-date>
                                    <option value="">{{'MONTH' | translate}}</option>
                                </select>
                                <select id="year2" name="year2" ng-options="year for year in default.years" ng-init="year2 = default.years[0]"
                                        name="year2" class="form-control" ng-model="year2" mi-check-date>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                {{'END_TIME' | translate}}
                            </td>
                            <td>
                                <select id="hour2" name="hour2" ng-options="hour for hour in default.hours" name="hour2" class="form-control"
                                        ng-model="hour2" mi-check-date>
                                    <option value="">{{'HOUR' | translate}}</option>
                                </select>
                                <select id="minute2" name="minute2" ng-options="minute for minute in default.minutes" name="minute2"
                                        class="form-control" ng-model="minute2" mi-check-date>
                                    <option value="">{{'MINUTE' | translate}}</option>
                                </select>
                                <select id="step2" name="step2" ng-options="step for step in default.steps" name="step2"
                                        ng-init="step2 = default.steps[0]" class="form-control" ng-model="step2" mi-check-date>
                                </select>
                                <span class="error" ng-show="createForm.date2 | eventFilter:createForm:'validEnd'">
                                {{'ERROR_END_INVALID' | translate}}
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                {{'LOCATION' | translate}}
                            </td>
                            <td>
                                <input type="text" id="location" name="location" class="token-input" ng-model="event.location" required style="width: 250px"/>
                                <span class="error" ng-show="createForm.location | eventFilter:createForm:'required'">
                                {{'ERROR_LOCATION_NULL' | translate}}
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                {{'DESCRIPTION' | translate}}
                            </td>
                            <td>
                                <textarea name="description" ng-model="event.description" style="height: 129px; resize:none"></textarea>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                <input type="button" value="{{'BUTTON_CANCEL' | translate}}" class="btn-style" data-ng-click="getEventIntro()">
                                        <!--data-dismiss="modal">-->
                                <input type="submit" value="{{'BUTTON_UPDATE' | translate}}" class="btn-style">
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
    </div>
</div>