<div class="modal fade" id="new-message-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form mi-submit="send()" name="messageForm" novalidate>
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Send message</h4>
                </div>
                <div class="modal-body">
                    <!-- body -->
                    <!-- recipients -->
                    <p>
                        <label for="recipients" class="uname" data-icon="u">
                            {{'RECIPIENT'|translate}}
                        </label>
                        <input type="text" name="recipients" id="recipients" class="token-input"
                               ng-model="message.recipients"/>
                    </p>
                    <p>
                        <span class="help-block" ng-show="messageForm.recipients | shouldDisplayError:messageForm:'required'">
                                <!--{{'ERROR_RECIPIENT'|translate}}--> error reci
                            </span>
                    </p>
                    <!-- content -->
                    <p>
                        <label for="content" class="uname" data-icon="u">
                            {{'MESSAGE'|translate}}
                        </label>
                        <textarea style="height: 100px" type="text" name="content" id="content"
                               ng-model="message.content" required></textarea>
                            <span class="help-block" ng-show="messageForm.content | shouldDisplayError:messageForm:'required'">
                                <!--{{'ERROR_MESSAGE'|translate}}--> err mss
                            </span>
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn-style">{{'BUTTON_SEND'|translate}}</button>
                    <button type="button" class="btn-style" data-dismiss="modal">{{'BUTTON_CLOSE'|translate}}</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
