<!-- Top Tool Bar -->
<div id="top-tool" class="skel-panels-fixed"></div>
<!-- Header -->
<div id="header" class="skel-panels-fixed">
    <div class="top">
        <!-- noti -->
        <div class="noti">
            <a class="event-request-icon">
                <div class="count">22</div>
            </a>

            <div class="event-request-item">
                <ul class="root">
                    <li><a href="#">
                        <span class="image avatar-micro"><img src="images/avatar.jpg"
                                                              alt=""/></span>

                <span class="noti-body">
                    <b class="user-name">thnonl</b>
                    Demo notification<br/>
                <i class="noti-date">10 min ago</i></span>
                    </a></li>
                    <li><a href="#">
                        <span class="image avatar-micro"><img src="images/avatar.jpg"
                                                              alt=""/></span>

                <span class="noti-body">
                    <b class="user-name">thnonl</b>
                    Demo notification Demo notification Demo notification Demo notification Demo<br/>
                <i class="noti-date">10 min ago</i></span>
                    </a></li>
                    <li><a href="#">
                        <span class="image avatar-micro"><img src="images/avatar.jpg"
                                                              alt=""/></span>

                <span class="noti-body">
                    <b class="user-name">thnonl</b>
                    Demo notification<br/>
                <i class="noti-date">10 min ago</i></span>
                    </a></li>

                </ul>
            </div>


            <a class="friend-request-icon">
                <div class="count">1</div>
            </a>

            <div class="friend-request-item">
                <ul class="root">
                    <li><a href="#"> <span class="image avatar-micro"><img src="images/avatar.jpg" alt=""/></span> <span
                            class="noti-body">                     <b class="user-name">thnonl</b> have kicked your shelf.<br/>                 <i
                            class="noti-date">10 min ago</i></span> </a></li>
                </ul>
            </div>
            <a class="message-icon">
                <div class="count">10</div>
            </a>

            <div class="message-item">
                <ul class="root">
                    <li><a href="#"> <span class="image avatar-micro"><img src="images/avatar.jpg" alt=""/></span> <span
                            class="noti-body">                     <b class="user-name">thnonl</b>                     Demo notification Demo notification Demo notification Demo notification Demo<br/>                 <i
                            class="noti-date">10 min ago</i></span> </a></li>
                    <li><a href="#"> <span class="image avatar-micro"><img src="images/avatar.jpg" alt=""/></span> <span
                            class="noti-body">                     <b class="user-name">thnonl</b>                     Demo notification Demo notification Demo notification Demo notification Demo<br/>                 <i
                            class="noti-date">10 min ago</i></span> </a></li>
                    <li><a href="#"> <span class="image avatar-micro"><img src="images/avatar.jpg" alt=""/></span> <span
                            class="noti-body">                     <b class="user-name">thnonl</b>                     Demo notification Demo notification Demo notification Demo notification Demo<br/>                 <i
                            class="noti-date">10 min ago</i></span> </a></li>
                </ul>
            </div>
            <a class="noti-icon">
                <div class="count">99</div>
            </a>

            <div class="notification-item">
                <ul class="root">
                    <li><a href="#"> <span class="image avatar-micro"><img src="images/avatar.jpg" alt=""/></span> <span
                            class="noti-body">                     <b class="user-name">thnonl</b>                     Demo notification Demo notification Demo notification Demo notification Demo<br/>                 <i
                            class="noti-date">10 min ago</i></span> </a></li>
                    <li><a href="#"> <span class="image avatar-micro"><img src="images/avatar.jpg" alt=""/></span> <span
                            class="noti-body">                     <b class="user-name">thnonl</b>                     Demo notification Demo notification Demo notification Demo notification Demo<br/>                 <i
                            class="noti-date">10 min ago</i></span> </a></li>
                    <li><a href="#"> <span class="image avatar-micro"><img src="images/avatar.jpg" alt=""/></span> <span
                            class="noti-body">                     <b class="user-name">thnonl</b>                     Demo notification Demo notification Demo notification Demo notification Demo<br/>                 <i
                            class="noti-date">10 min ago</i></span> </a></li>
                </ul>
            </div>
        </div>
        <!-- avatar-header -->
        <div id="avatar-header">
            <span class="image avatar-large"><img src="images/avatar.jpg" alt=""/></span>

            <h1 id="user-name">thnonl</h1>
            <span class="byline">Thái Hoàng Nam</span>
        </div>

        <!-- Nav -->
        <nav id="nav">
            <ul>
                <li><a href="#top" id="top-link" class="skel-panels-ignoreHref"><span class="fa fa-home">Home</span></a>
                </li>
                <li><a href="#" class="skel-panels-ignoreHref"><span class="fa fa-envelope">Message</span></a></li>
                <li><a href="#" class="skel-panels-ignoreHref"><span class="fa fa-user">My Timeshelf</span></a></li>
                <li><a href="#" class="skel-panels-ignoreHref"><span class="fa fa-th">Event Calendar</span></a></li>
            </ul>
        </nav>

        <!-- Recent Event -->
        <div id="recent-event"><p style="text-align: left; font-size: 0.8em; margin-left: 40px;">Recent Events</p>

            <div class="item">
                <a href="#"><span>Halloween</span></a>
                <a href="#"><span>Va lung tung</span></a>
                <a href="#"><span>Giữa thu</span></a>
                <a href="#"><span>Giáng xinh</span></a>
                <a href="#"><span>Xin nhựt</span></a>
            </div>
        </div>
    </div>
</div>