<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>Add new User - <%= title %></title>
    <meta name="description" content="TrungNM, TrungNM" />
    <link rel="stylesheet" href="/stylesheets/metro.css">
</head>
<body class="metro">
<h1>List All User </h1>
<form action="/addnew" method="get">
    <input type="submit" value="Add User">
</form>
<form action="/settings" method="get">
    <input type="submit" value="Account Settings">
</form>


</div>
</body>
</html>