<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title><%= title %></title>
    <meta name="description" content="TrungNM, TrungNM"/>
    <link rel="stylesheet" href="/stylesheets/metro.css">
</head>
<body>
<h1><%= title %></h1>
<table>
    <tr>
        <td>Name</td>
        <td><%= user.firstname %></td>
        <td><a href="setting.ejs" >Edit</a> </td>
    </tr>
    <tr>
        <td>Email</td>
        <td><%= user.email %></td>
        <td><a href="setting.ejs" >Edit</a> </td>
    </tr>
    <tr>
        <td>Password</td>
        <td>Last updated: Ghi vào đây !</td>
        <td><a href="setting.ejs" >Edit</a> </td>
    </tr>

</table>

</body>
</html>