<h1>Create new event</h1>
<form name="createForm" novalidate mi-submit="create()">
    <div class="alert alert-danger" id="error-box" ng-show="isServerError">
        <span ng-bind="serverError"></span>
    </div>

            Name
            <input type="text" name="name"  data-ng-model="name"  required  ng-minlength="6" ng-pattern="/^[a-zA-Z_0-9]*$/" mi-check-unique-name/></td>
            <span ng-show="!createForm.name.$invalid && createForm.name.$dirty"><i class="fa fa-check-circle-o" style="color:#4cae4c"></i></span>
                <span class="help-block" ng-show="createForm.name.$error.minLength && createForm.name.$dirty">
                    Name of an event must have more than 6 characters
                </span>
                <span class="help-block" ng-show="createForm.username.$error ">
                    This name has been used, please try another
                </span>
                <span class="help-block" ng-show="createForm.username">
                    Name of an event can not contain special characters excepts '_'
                </span>

            </br>
            Start time
            <input type="date" name="start" data-ng-model ="start" />
            </br>
            End time
            <input type="date" name="end"  data-ng-model="end" />
            </br>
            Description
            <input type="text" name="description"  data-ng-model="description"/>
            </br>
            Location
            <input type="text" name="location"  data-ng-model="location"/>
            </br>
            Privacy
            <input type="radio" name="privacy"  data-ng-model ="privacy" value="p"/> Private
                <input type="radio" name="privacy"  data-ng-model ="privacy" value="g"/> Group
                <input type="radio" name="privacy"  data-ng-model ="privacy" value="c"/> Close community
                <input type="radio" name="privacy"  data-ng-model ="privacy" value="o"/> Open community

            </br>
            Invite
            <input type="text" name="user" id="friend-token"/>
            </br>
            Invite right
            <input type="checkbox" name="all" id="all"/> All
            <input type="text" name="invite" id="invite-token"/>

            </br>
            Color
            <!-- Google style -->
            <input type="checkbox" name="color"  data-ng-model ="color" value="ffffff"/> ffffff
            <input type="checkbox" name="color"  data-ng-model ="color" value="000000"/> 000000

            </br>
            Alarm
            <input type="checkbox" name="alarm"  data-ng-model="alarm"/> Alarm
    </br>
    <input type="submit" value="Submit"/>
</form>
