<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
      <link rel='stylesheet' href='//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css'/>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>This a Avatarrrrrrrrrrrrrrrrr ! </p>
    <%
    if (user.avatar){ %>
    <p><img src="<%= user.avatar %>"></p>
    <%} else { %>
    <p><img src="/uploaded/avatar/default.png"></p>
    <% }
    %>

    <form method="post" enctype="multipart/form-data" action="/avatarupload">
        <input type="file" name="avatar" accept="image/jpeg, image/png">
        <input type="submit" value="Upload">
    </form>
  </body>
</html>