<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css'/>
</head>
<body style="width:70%;margin-left: 30px;">
<h3>We sent information about password reset to the email address of your recovery.</h3>
<hr/>
<p>Check the inbox mail sent to you in <span style="color: cornflowerblue;">giggles.2710@gmail.com</span> to see the next step.</p>
<% if(message.length > 0) { %>
<div class="alert alert-danger" id="error-box">
    <p><%= message %></p>
</div>
<% } %>

<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
</body>
</html>