body {
    width: 960px;
    margin: 0 auto;
    background: rgba(222, 222, 222, 0.2);
}

#admin-container {
    width: 100%;
    background: rgba(222, 222, 222, 0.5);
    padding: 20px;
    height: 600px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

footer{
    margin: 0 auto;
    font-size: 0.8em;
    text-align: center;
}

/*Header*/
header {
    height: 50px;
    width: 960px;
    background: rgba(64,64,64,1);
    padding: 5px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}


#search-bar {
    padding-right: 10px;
}

#search-bar button {
    height: 34px;
}

#hello {
    float: right;
    margin-top: 5px;
    border-radius: 5px;
    background: rgba(222, 222, 222, 0.7);
    padding: 6px;
    transition: all 0.5s;
}

#hello a{
    text-decoration: none;
}

#hello:hover {
    background: rgba(64, 64, 64, 0.4);
    color: #fff;
}

#timeshelf-ava {
    width: auto;
}

#timeshelf-link {
    float: left;
    padding-left: 0;
}

/*Tab*/
.nav-tabs{

    width: 900px;
}

.tab-content{
    margin: 10px auto 20px 10px;
    font-size: 12px;
    max-height: 500px;
    overflow: auto;
}

#user table{
    font-size: 0.8em;
}

#profile-info, #profile-friend, #profile-event{
    font-size: 1.5em;
}

/*Table*/
#event-intro-view td{
    border: none;
}

#event-intro-view{
    margin-bottom: -10px;
}

table
{
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 12px;
    margin: 45px;
    width: 480px;
    text-align: left;
    border-collapse: collapse;
}

table th
{
    font-size: 13px;
    font-weight: normal;
    padding: 8px;
    background: rgba(122,122,122,0.3);
    border-top: 4px solid rgba(122,122,122,0.5);
    border-bottom: 1px solid #fff;
    color: #fff;
}
table td
{
    padding: 8px;
    background: rgba(122,122,122,0);
    border-bottom: 1px solid #fff;
    color: #000;
    border-top: 1px solid transparent;
}
table tr:hover td
{
    background: rgba(122,122,122,0.1);
    color: #000;
}







