/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/

body, input, textarea, select {
    font-size: 17pt;
}

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

#header {
    width: 18%;
}

/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/

#footer {
    margin-left: 18%;
}

/*********************************************************************************/
/* Main                                                                          */
/*********************************************************************************/

#main {
    margin-left: 18%;
}

/*********************************************************************************/
/* Recent event                                                                    */
/*********************************************************************************/
#recent-event {
    border-top: 1px solid #F0F0F0;
    width: 96%;
    margin-left: 2%;
    font-size: 0.8em;
}

#recent-event .item {
    height: 200px;
    overflow: auto;
    width: 96%;
    margin-top: -30px;
    margin-left: 2%;
}