<lazy-load src="/lib/skel/skel.min.js"></lazy-load>
<lazy-load src="/lib/skel/skel-panels.min.js"></lazy-load>

<section data-ng-init="initialize()" data-ng-controller="HomepageController">
<!-- Top Tool Bar -->
<div id="top-tool" class="skel-panels-fixed"></div>
<!-- Header -->
<div id="header" class="skel-panels-fixed">
    <div class="top">
        <!-- noti -->
        <div class="noti">
            <a class="event-request-icon">
                <div class="count">22</div>
            </a>

            <div class="event-request-item">
                <ul class="root">
                    <li><a href="#">
                        <span class="image avatar-micro"><img src="img/avatar.jpg" alt=""/></span>
                    <span class="noti-body">
                        <b class="user-name">thnonl</b>
                        Demo notification<br/>
                    <i class="noti-date">10 min ago</i></span>
                    </a></li>
                    <li><a href="#">
                        <span class="image avatar-micro"><img src="img/avatar.jpg" alt=""/></span>

                    <span class="noti-body">
                        <b class="user-name">thnonl</b>
                        Demo notification Demo notification Demo notification Demo notification Demo<br/>
                    <i class="noti-date">10 min ago</i></span>
                    </a></li>
                    <li><a href="#">
                        <span class="image avatar-micro"><img src="img/avatar.jpg" alt=""/></span>

                    <span class="noti-body">
                        <b class="user-name">thnonl</b>
                        Demo notification<br/>
                    <i class="noti-date">10 min ago</i></span>
                    </a></li>

                </ul>
            </div>


            <a class="friend-request-icon">
                <div class="count">1</div>
            </a>

            <div class="friend-request-item">
                <ul class="root">
                    <li><a href="#"> <span class="image avatar-micro"><img src="img/avatar.jpg" alt=""/></span> <span
                            class="noti-body">                     <b class="user-name">thnonl</b> have kicked your shelf.<br/>                 <i
                            class="noti-date">10 min ago</i></span> </a></li>
                </ul>
            </div>
            <a class="message-icon">
                <div class="count">10</div>
            </a>

            <div class="message-item">
                <ul class="root">
                    <li><a href="#"> <span class="image avatar-micro"><img src="img/avatar.jpg" alt=""/></span> <span
                            class="noti-body">                     <b class="user-name">thnonl</b>                     Demo notification Demo notification Demo notification Demo notification Demo<br/>                 <i
                            class="noti-date">10 min ago</i></span> </a></li>
                    <li><a href="#"> <span class="image avatar-micro"><img src="img/avatar.jpg" alt=""/></span> <span
                            class="noti-body">                     <b class="user-name">thnonl</b>                     Demo notification Demo notification Demo notification Demo notification Demo<br/>                 <i
                            class="noti-date">10 min ago</i></span> </a></li>
                    <li><a href="#"> <span class="image avatar-micro"><img src="img/avatar.jpg" alt=""/></span> <span
                            class="noti-body">                     <b class="user-name">thnonl</b>                     Demo notification Demo notification Demo notification Demo notification Demo<br/>                 <i
                            class="noti-date">10 min ago</i></span> </a></li>
                </ul>
            </div>
            <a class="noti-icon">
                <div class="count">99</div>
            </a>

            <div class="notification-item">
                <ul class="root">
                    <li><a href="#"> <span class="image avatar-micro"><img src="img/avatar.jpg" alt=""/></span> <span
                            class="noti-body">                     <b class="user-name">thnonl</b>                     Demo notification Demo notification Demo notification Demo notification Demo<br/>                 <i
                            class="noti-date">10 min ago</i></span> </a></li>
                    <li><a href="#"> <span class="image avatar-micro"><img src="img/avatar.jpg" alt=""/></span> <span
                            class="noti-body">                     <b class="user-name">thnonl</b>                     Demo notification Demo notification Demo notification Demo notification Demo<br/>                 <i
                            class="noti-date">10 min ago</i></span> </a></li>
                    <li><a href="#"> <span class="image avatar-micro"><img src="img/avatar.jpg" alt=""/></span> <span
                            class="noti-body">                     <b class="user-name">thnonl</b>                     Demo notification Demo notification Demo notification Demo notification Demo<br/>                 <i
                            class="noti-date">10 min ago</i></span> </a></li>
                </ul>
            </div>
        </div>
        <!-- avatar-header -->
        <div id="avatar-header">
            <span class="image avatar-large"><img src="{{global.avatar}}" alt=""/></span>

            <h1 id="user-name">{{global.username}}</h1>
            <span class="byline">{{global.fullName}}</span>
        </div>

        <!-- Nav -->
        <nav id="nav">
            <ul>
                <li><a href="#top" id="top-link" class="skel-panels-ignoreHref"><span class="fa fa-home">Home</span></a>
                </li>
                <li><a href="#" class="skel-panels-ignoreHref"><span class="fa fa-envelope">Message</span></a></li>
                <li><a href="#" class="skel-panels-ignoreHref"><span class="fa fa-user">My Timeshelf</span></a></li>
                <li><a href="#" class="skel-panels-ignoreHref"><span class="fa fa-th">Event Calendar</span></a></li>
            </ul>
        </nav>

        <!-- Recent Event -->
        <div id="recent-event"><p style="text-align: left; font-size: 0.8em; margin-left: 40px;">Recent Events</p>

            <div class="item">
                <a href="#"><span>Halloween</span></a>
                <a href="#"><span>Va lung tung</span></a>
                <a href="#"><span>Giữa thu</span></a>
                <a href="#"><span>Giáng xinh</span></a>
                <a href="#"><span>Xin nhựt</span></a>
            </div>
        </div>
    </div>
</div>
<!-- Main -->
<div id="main">
    <!-- Home -->
    <section id="top" class="one">
        <!-- To-do list -->
        <div class="tdl-spmenu tdl-spmenu-vertical tdl-spmenu-right" id="tdl-spmenu-s2">
            <div id="btn"></div>
            <div class="to-do-list"><h1>Every day</h1>
                <ul class="to-do-item">

                    <li><input type="checkbox" id="everyday-1" checked/>
                        <label for="everyday-1">Ăn sáng</label></li>

                    <li><input type="checkbox" id="everyday-2"/><label for="everyday-2">Đánh nhau</label></li>
                    <li><input type="checkbox" id="everyday-3" checked/><label for="everyday-3">Chơi gêm</label></li>
                    <li><input type="checkbox" id="everyday-4" checked/><label for="everyday-4">Ăn tối</label></li>
                    <li><input type="checkbox" id="everyday-5"/><label for="everyday-5">Chat đêm</label></li>
                </ul>
            </div>
        </div>
        <!-- List event -->
        <div class="container">
            <div class="sort-post">
                <select>
                    <option>Recently added</option>
                    <option>Time of events</option>
                </select>
            </div>
            <!-- events -->
            <div class="line-of-time" data-ng-repeat="post in posts">
                <div class="box-time">
                    <div class="date">{{post.startTime | dateTimeFilter:'date'}}/{{post.startTime | dateTimeFilter:'month'}}</div>
                    <div class="year">{{post.startTime | dateTimeFilter:'year'}}</div>
                </div>

                <div class="post box">
                    <div class="avatar-post">
                        <mi-invite-more></mi-invite-more>
                        <span class="image avatar-small">
                            <img src="{{post.creator.avatar}}" alt=""/>
                        </span>
                        <h1>{{post.creator.username}}</h1>
                        <span class="byline">{{post.creator.fullName}}</span>
                        <center>
                            <h2 class="title">
                                <a href="#">{{post.name}}</a>
                            </h2>
                        </center>
                    </div>

                    <div class="frame">
                        <a href="#">
                            <img src="{{post.cover}}" alt=""/>
                        </a>
                    </div>

                    <!-- description -->
                    <div ng-bind-html="post.description | noHTML | newlines"></div>
                    <!-- details -->
                    <div class="details">
                        <span class="icon-event">
                            <a href="#">{{post.startTime | dateTimeFilter:'full'}} - {{post.endTime | dateTimeFilter:'full'}}</a>
                        </span>
                        <span class="likes">
                            <a href="#">{{post.likeNumber | numberFilter}}</a>
                        </span>
                        <span class="comments">
                            <a href="#">{{post.commentNumber | numberFilter}}</a>
                        </span>
                    </div>
                </div>
            </div>
            <!-- comment box -->
            <div class="box-comment" data-ng-show="post">
                <textarea placeholder="Write comment..."></textarea>

                <div class="list-comment">
                    <!-- comment item -->
                    <div class="comment-item" data-ng-repeat="comment in post.comment">
                            <span class="image avatar-micro">
                                <img src="{{comment.avatar}}" alt=""/>
                            </span>
                            <span class="comment-body">
                                <b class="user-name">{{comment.username}}</b>
                                {{comment.content}}
                                <i class="comment-date">{{comment.datetime}}</i>
                            </span>
                    </div>
                </div>
            </div> <!-- end box comment -->
        </div> <!-- end post list -->

    </section>
</div>
</section>

<!-- stylesheet -->
<link rel="stylesheet" href="css/skel-noscript.css"/>
<link rel="stylesheet" href="css/home-style.css"/>
<link rel="stylesheet" href="css/home-style-wide.css"/>
<link rel="stylesheet" href="css/animate-custom.css"/>

<lazy-load src="/lib/skel/init.js"></lazy-load>