<link href="css/style.css" rel="stylesheet">
<div data-ng-init="initialize()" data-ng-controller="HomepageController" id="wrapper">
    <!-- Sidebar -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <button class="btn-style" style="float: right;">
            New Event
        </button>
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse" id="button-toggle">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">my9time</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse" id="sidebar">
            <div id="header">

                <div class="top">
                    <!-- noti -->
                    <div class="noti">
                        <a class="event-request-icon">
                            <div class="count">22</div>
                        </a>

                        <div class="event-request-item">
                            <ul class="root">
                                <li><a href="#">
                        <span class="image avatar-micro"><img src="images/avatar.jpg"
                                                              alt=""/></span>

                <span class="noti-body">
                    <b class="user-name">thnonl</b>
                    Demo notification<br/>
                <i class="noti-date">10 min ago</i></span>
                                </a></li>
                                <li><a href="#">
                        <span class="image avatar-micro"><img src="images/avatar.jpg"
                                                              alt=""/></span>

                <span class="noti-body">
                    <b class="user-name">thnonl</b>
                    Demo notification Demo notification Demo notification Demo notification Demo<br/>
                <i class="noti-date">10 min ago</i></span>
                                </a></li>
                                <li><a href="#">
                        <span class="image avatar-micro"><img src="images/avatar.jpg"
                                                              alt=""/></span>

                <span class="noti-body">
                    <b class="user-name">thnonl</b>
                    Demo notification<br/>
                <i class="noti-date">10 min ago</i></span>
                                </a></li>

                            </ul>
                        </div>


                        <a class="friend-request-icon">
                            <div class="count">1</div>
                        </a>

                        <div class="friend-request-item">
                            <ul class="root">
                                <li><a href="#"> <span class="image avatar-micro"><img src="images/avatar.jpg"
                                                                                       alt=""/></span> <span
                                        class="noti-body">                     <b class="user-name">thnonl</b> have kicked your shelf.<br/>                 <i
                                        class="noti-date">10 min ago</i></span> </a></li>
                            </ul>
                        </div>
                        <a class="message-icon">
                            <div class="count">10</div>
                        </a>

                        <div class="message-item">
                            <ul class="root">
                                <li><a href="#"> <span class="image avatar-micro"><img src="images/avatar.jpg"
                                                                                       alt=""/></span> <span
                                        class="noti-body">                     <b class="user-name">thnonl</b>                     Demo notification Demo notification Demo notification Demo notification Demo<br/>                 <i
                                        class="noti-date">10 min ago</i></span> </a></li>
                                <li><a href="#"> <span class="image avatar-micro"><img src="images/avatar.jpg"
                                                                                       alt=""/></span> <span
                                        class="noti-body">                     <b class="user-name">thnonl</b>                     Demo notification Demo notification Demo notification Demo notification Demo<br/>                 <i
                                        class="noti-date">10 min ago</i></span> </a></li>
                                <li><a href="#"> <span class="image avatar-micro"><img src="images/avatar.jpg"
                                                                                       alt=""/></span> <span
                                        class="noti-body">                     <b class="user-name">thnonl</b>                     Demo notification Demo notification Demo notification Demo notification Demo<br/>                 <i
                                        class="noti-date">10 min ago</i></span> </a></li>
                            </ul>
                        </div>
                        <a class="noti-icon">
                            <div class="count">99</div>
                        </a>

                        <div class="notification-item">
                            <ul class="root">
                                <li><a href="#"> <span class="image avatar-micro"><img src="images/avatar.jpg"
                                                                                       alt=""/></span> <span
                                        class="noti-body">                     <b class="user-name">thnonl</b>                     Demo notification Demo notification Demo notification Demo notification Demo<br/>                 <i
                                        class="noti-date">10 min ago</i></span> </a></li>
                                <li><a href="#"> <span class="image avatar-micro"><img src="images/avatar.jpg"
                                                                                       alt=""/></span> <span
                                        class="noti-body">                     <b class="user-name">thnonl</b>                     Demo notification Demo notification Demo notification Demo notification Demo<br/>                 <i
                                        class="noti-date">10 min ago</i></span> </a></li>
                                <li><a href="#"> <span class="image avatar-micro"><img src="images/avatar.jpg"
                                                                                       alt=""/></span> <span
                                        class="noti-body">                     <b class="user-name">thnonl</b>                     Demo notification Demo notification Demo notification Demo notification Demo<br/>                 <i
                                        class="noti-date">10 min ago</i></span> </a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- avatar-header -->
                    <div id="avatar-header">
                        <span class="image avatar-large"><img ng-src="{{global.avatar}}" alt=""/></span>

                        <h1 id="user-name">{{global.username}}</h1>
                        <span class="byline">{{global.fullName}}</span>
                    </div>

                    <!-- Nav -->

                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#" id="top-link">Home<i class="fa fa-home"></i></a>
                        </li>
                        <li><a href="#">Message<i
                                class="fa fa-envelope"></i></a></li>
                        <li><a href="#">Timeshelf<i class="fa fa-user"></i></a>
                        </li>
                        <li><a href="#">Event Calendar<i class="fa fa-th"></i></a>
                        </li>
                    </ul>


                    <!-- Recent Event -->
                    <div id="recent-event"><p style="text-align: left; font-size: 0.8em; margin-left: 40px;">Recent
                        Events</p>

                        <div class="item">
                            <a href="#"><span>Halloween</span></a>
                            <a href="#"><span>Va lung tung</span></a>
                            <a href="#"><span>Giữa thu</span></a>
                            <a href="#"><span>Giáng xinh</span></a>
                            <a href="#"><span>Xin nhựt</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.navbar-collapse -->
    </nav>
    <!-- nav -->
    <div id="page-wrapper">
        <!-- Todo list -->
        <div class="tdl-spmenu tdl-spmenu-vertical tdl-spmenu-right" id="tdl-spmenu-s2">
            <div id="btn"></div>
            <div class="to-do-list"><h1>Every day</h1>
                <ul class="to-do-item">

                    <li><input type="checkbox" id="everyday-1" checked/>
                        <label for="everyday-1">Ăn sáng</label></li>

                    <li><input type="checkbox" id="everyday-2"/><label for="everyday-2">Đánh nhau</label></li>
                    <li><input type="checkbox" id="everyday-3" checked/><label for="everyday-3">Chơi gêm</label></li>
                    <li><input type="checkbox" id="everyday-4" checked/><label for="everyday-4">Ăn tối</label></li>
                    <li><input type="checkbox" id="everyday-5"/><label for="everyday-5">Chat đêm</label></li>
                </ul>
            </div>
        </div>
        <!-- post -->
        <div class="row">
            <div class="col-lg-12">
                <div class="sort-post">
                    <select>
                        <option>Recently added</option>
                        <option>Time of events</option>
                    </select>
                </div>
            </div>

            <div class="col-lg-12">
                <!-- Event -->
                <div class="line-of-time" data-ng-repeat="post in posts">
                    <div class="box-time">
                        <div class="date">{{post.startTime | dateTimeFilter:'date'}}/{{post.startTime | dateTimeFilter:'month'}}</div>
                        <div class="year">{{post.startTime | dateTimeFilter:'year'}}</div>
                    </div>
                    <div class="post">
                        <div class="box">
                            <div class="avatar-post">
                                <span class="image avatar-small"><img ng-src="{{post.creator.avatar}}" alt=""/></span>

                                <b>{{post.creator.username}}</b>
                                <span class="byline">{{post.creator.fullName}}</span>
                                <center><h2 class="title"><a href="#">{{post.name}}</a></h2></center>
                            </div>

                            <div class="frame">
                                <a href="post.html">
                                    <img ng-src="{{post.cover}}" alt=""/>
                                </a>
                            </div>

                            <div data-ng-bind-html="post.description | noHTML | newlines"></div>
                            <!-- Participants -->
                            <div data-ng-if="post.user.length > 0">
                                <a href="#" data-ng-click="seeAllParticipants()"> <b>Participants: (see all {{post.user.length}} people) </b></a>
                                <div class="event-participants-post">
                                    <a href="" data-ng-repeat="user in post.user">
                                        <img ng-src="{{user.avatar}}">
                                    </a>
                                </div>
                            </div>

                            <div class="details">
                                <span class="icon-event"><a href="#">{{post.startTime | dateTimeFilter:'full'}} - {{post.endTime | dateTimeFilter:'full'}}</a></span>
                                <span class="likes"><a href="#" data-ng-click="showLikeList()">{{post.likeNumber | numberFilter}}</a></span>
                                <span class="comments"><a href="#" data-ng-click="showCommentList()">{{post.commentNumber | numberFilter}}</a></span>
                            </div>
                        </div>
                        <div class="box-comment hidden-xs hidden-sm" data-if="post">
                            <textarea placeholder="Write comment..."></textarea>
                            <div class="list-comment">
                                <!-- Comment item -->
                                <div class="comment-item" data-ng-repeat="comment in post.comment">
                                    <span class="image avatar-micro">
                                        <img src="{{comment.avatar}}" alt=""/>
                                    </span>
                                    <span class="comment-body">
                                        <b class="user-name">{{comment.username}}</b>
                                        {{comment.content}}
                                        <i class="comment-date">{{comment.datetime | dateTimeFilter:'timepast'}}</i>
                                    </span>
                                </div>
                                <!-- end comment-->
                            </div> <!-- end list comment -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div>
</div>
