<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <img src="images/MeoNhayMua.gif">
    <% if (user){ %>
    <p>Welcome <%= user.fullName %></p>
    <a href="/userList">Add Friend Test</a><br/>
    <% } else { %>
    <p>Lo mà đăng nhập đi ! </p>
    <% } %>
    <a href="login">Login</a> </br>
    <a href="logout">Logout</a> </br>
    <a href="signup">Register</a> </br>
    <a href="profile">Profile</a> </br>
    <a href="timeshelf">TimeShelf</a> </br>
    <a href="event/create">Create New Event</a> </br>
    <a href="view">View All User</a> </br>
    <a href="groups">View All Group</a> </br>
    <a href="changepass">Change Password</a> </br>
    <a href="avatarupload">Change Avatar</a> </br>

    <!-- TODO: Vào đây code thêm giao diện chính nè-->
  </body>
</html>