<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css'/>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  <hr/>
    <% if(isLoggedIn) { %>
        <a href="/logout">Log out</a>
    <% } else { %>
    <div>
        <fieldset>
            <legend>Local</legend>
            <a class="btn btn-warning" href="/login">Sign in</a> or
            <a class="btn btn-warning" href="/signup">Create new account</a>
        </fieldset>
    </div>
    <div style="margin-top: 10px;">
        <fieldset>
            <legend>Oauth</legend>
            <a class="btn btn-primary" href="/auth/facebook">Facebook sign in</a>
            <a class="btn btn-danger" href="/auth/google" style="margin-left: 10px">Google sign in</a>
        </fieldset>
    </div>
    <% } %>
  </body>
</html>